[2017-04-13 12:42] ateregulov opened #1 "It is bad idea to localize developer tools"
It will be more difficult to search to seek solutions of problems.

[2017-04-13 13:28] aldonetti commented on #1
true in a way, but you are probably thinking about someone who can speak English well like yourself.
If a user does not have the same abilities, *he/she will not be able to use the tool at all* and the idea behind the localization of our tool (any tool really) is to lower the entry barrier for those users who cannot read/speak English.
Those users who prefer the English version are free to install

[2017-04-13 13:47] ateregulov commented on #1
Do you have a study of the experience of non-English speakers?

I am constantly experiencing the problem of finding the English version.
Professional speakers recommend to initially use the English versions.
The phrase "open file" is known to everyone, other terms all the same require studying.

It is misdirected good intentions. It does more harm than good.

[2017-04-13 14:15] aldonetti commented on #1
I'm sorry you are having issues finding the English version of our tools - can you please provide an example of where you can only find the localized version and not the English version of a developer product? thanks

[2017-04-13 14:24] ateregulov commented on #1
For example https://msdn.microsoft.com/library/ms171868.aspx

On this page, I do not see the information about the 4.7 framework and I do not see a way to get the English version of the page.

[2017-04-13 14:25] ateregulov commented on #1
![screenclip](https://cloud.githubusercontent.com/assets/1116637/25009095/32d8500a-206e-11e7-8c7f-5be629cd636a.png)

[2017-04-13 17:38] aldonetti commented on #1
thank you for the details - I will check, but I am quite sure it's only a matter of delta between the updates of the English version and of the Localized versions. The English version gets updated first, and as soon as the translations are ready, also the localized versions get the same update. Usually the delta is around two weeks, but as I said I will check.
To get the English version of the pag

[2017-04-13 23:10] danyeh commented on #1
I want to add that we did do research on experience of non-English speakers. A considerable percentage of customer want the localize version of dev tools. But the percentage of dev tools is lower than IT Pro. IT Pro is lower than information worker.
As a best practice of product design, we usually introduce language setting to allow customer to switch to the language they want other than limit the

[2017-04-25 14:50] YuichiNukiyama opened #2 "Please add vscode-ja comunnity info to wiki"
We made a slack Japanese team for VSCode translation. Will you put this information on the wiki?
url: https://vscode-ja.slack.com/shared_invite/MTczMzQzODQ1NzkyLTE0OTMxMDY0OTUtZmYzMDU4MDQ1MA

[2017-04-25 16:46] danyeh commented on #2
Thank you @YuichiNukiyama san for the initiative! I added to contributor page. Please review here.
https://github.com/Microsoft/Localization/wiki/VS-Code-Community-Localization-Contributors

[2017-04-27 00:24] YuichiNukiyama commented on #2
Thanks @danyeh san :smile:

[2017-04-27 00:24] #2 closed

[2017-05-04 03:59] danyeh commented on #1
I believe we had good discussion. I am closing this 'issue'.

[2017-05-04 03:59] #1 closed

[2017-05-04 09:22] aldonetti commented on #1
And I'm sorry I am late to comment on this @ateregulov - I have received the information about that specific page.

As you may know, we are gradually moving the "home" for our technical documentation from the MSDN Library to [docs.microsoft.com](https://docs.microsoft.com) (DOCS from now on).
The English content for .NET 4.7 was published to 2 locations on April 5 - MSDN and DOCS - because the tea

[2017-09-12 02:20] tianxiemaochiyu opened #5 "中文版发行说明在哪？"
有没有中文版的发行说明，底部中文简体贡献者名单是什么意思

[2017-09-12 04:08] danyeh commented on #5
Assume you mean VS Code release notes here. https://code.visualstudio.com/updates/v1_16#_thank-you. No, we don't have plan to localize release notes yet. I have sent the feedback to documentation owner. The localization contributors list who has contributed translation for this monthly release.
我想你指的是VS Code的发行说明。目前还没有本地化的计划。底部中文简体贡献者名单列出了所本月有提供了软件界面翻译的贡献者。

[2017-09-12 04:08] #5 closed

[2017-10-01 01:08] anikundesu opened #6 "How can I contribute to localize docs.microsoft.com pages which have no "edit" link?"
I read the wiki https://github.com/Microsoft/Localization/wiki/Contribute-to-docs.microsoft.com and then looked some pages I want to translate into Japanese.
However, the pages have no "edit" link on top of the page. For examples, "https://docs.microsoft.com/ja-jp/virtualization/windowscontainers/about/" has no "edit" link.

How can I contribute to translate such pages?

[2017-10-03 21:57] Sara-Nicolini commented on #6
Hi Takashi-san, thanks for your inquiry. Currently, most of the content related to Cloud and Enteprise products is enabled for community contributions, such as Azure, Visual Studio, SQL, ASP.NET Core, System Center, Intune, etc. However, most of the Windows content is not enabled for community contributions at the moment. We will inform you once this content becomes available to be edited.

[2017-10-03 21:59] #6 closed

[2017-12-22 09:18] egamma opened #7 "Update to the latest icon color"
A nit, but the icon color has evolved 😄

![image](https://user-images.githubusercontent.com/172399/34292456-4cb7b646-e701-11e7-93d1-f3769e1f808c.png)

[2017-12-22 09:22] aldonetti commented on #7
thanks, will fix it asap

[2017-12-22 09:47] aldonetti commented on #7
not an artist but this should be the correct one now - check [VSCode wiki page](https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project)

[2017-12-22 13:17] egamma commented on #7
Looks good 👍 , thanks

[2018-01-10 23:52] #7 closed

[2018-02-01 03:33] severinolorillajr opened #8 "Inquiry"
I'd like to contribute translations to Filipino.
Do we have someone who can check the accuracy of the translation?
I have made some readings.
https://github.com/Microsoft/Localization/wiki/Contribute-to-docs.microsoft.com
Are there other things that I need to be aware of before I start?

[2018-02-02 10:23] aldonetti commented on #8
Hi @severinolorillajr - thank you for your interest and willingness to help.
Unfortunately users cannot translate a full article on their own - they can only contribute to existing articles.
You know how much documentation there is, so it's almost impossible that individual contributors can keep up with translating all of that on their own (both for first translation and for updates over time) - t

[2018-02-02 10:23] #8 closed

[2018-02-08 01:55] agentzero1 opened #10 "Request for translation on filipino"
I want to contribute in translation

[2018-02-08 04:12] danyeh commented on #10
@agentzero1, Thank you for showing interest for contributing!
One opportunity is vscode UI localization. See here for procedure to request new language in Transifex where host the translation projects. https://github.com/Microsoft/Localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project

[2018-02-11 13:34] Cyyy1998 opened #11 "Localization/Translation into Filipino"
Good day

Can I translate this project into my native language which is Filipino

[2018-02-13 13:57] aldonetti commented on #11
hello @Cyyy1998 , which project are you interested in? VSCode I assume? If so, could you please go to this page https://www.transifex.com/microsoft-oss/vscode-editor/languages/ , click on the "requested languages" link and add it to the list?
thanks for your interest and please do let me know if you have questions
![image](https://user-images.githubusercontent.com/2181885/36153309-227b801e-10ce-11

[2018-02-13 13:57] aldonetti commented on #11
closing for now, unless there are further questions/issues

[2018-02-13 13:57] #11 closed

[2018-02-13 21:38] danyeh commented on #11
@Cyyy1998 , please vote by putting your Transifex account info in issue comment.
https://github.com/Microsoft/vscode/issues/43218

[2018-02-13 21:39] danyeh commented on #10
Thank you for creating the request (issue). https://github.com/Microsoft/vscode/issues/43218

[2018-02-13 21:39] #10 closed

[2018-02-13 22:16] aldonetti commented on #11
thank you @danyeh for the correction. sorry for the wrong info @Cyyy1998

[2018-03-29 16:04] jiangsheng opened #15 "context for source string "no""
On a yes/no dialog, a "No" as a whole sentence should be translated as "否" in Chinese. But "否" cannot be used when the word "no" is used as adjective or adverb in front of something else.

1. need to have a option to vote a word out of the source string list for a language. sometimes one word can have many translations. E.g. "They" could be translated to  "他们" or "它们" depending on whether the obje

[2018-04-02 22:33] danyeh commented on #15
Thank you Mr. Jiang for the feedback! Please let us know if you are talking about particular project and tool so we can concentrate on.
Not likely 'No" or "They" will be in a separate string that will be concat'd with other string in run time. So in most cases, the strings itself should be self-explained. The scenario you are talking about is valid but we need real sample in product so we can work

[2018-04-05 02:39] jiangsheng commented on #15
The project is SQL operation studio. I see "No" in the source string list at http://aka.ms/loccommunity

[2018-04-16 02:29] jiangsheng opened #16 "right arrow key automatically submits new translation"
On https://envelope-community.azurewebsites.net, my new translation suggestion was submitted prematurely when I hit the right arrow key. I was trying to select a word (shift+ right arrow key) to cut/paste later to reorder some content. Selecting with mouse is cumbersome.

[2018-04-16 16:04] danyeh commented on #16
Adding @khoiph1 to double check.

[2018-05-01 17:47] khoiph1 commented on #16
@jiangsheng Thank you for reporting the issue. We are looking into this.

[2018-05-01 21:25] Monasr commented on #15
Thank you Mr. Jiang for the feedback, I agree with Daniel comments that most likely the strings will not be concatenated and expected to be explained as is. SQL Ops Studio localized versions are expected to release in a week or so and that will be the best option to validate the translations in context.

[2018-05-03 00:04] jiangsheng opened #17 "duplicate entries in word list"
![20180502190313](https://user-images.githubusercontent.com/1025946/39554992-8d6c3594-4e3b-11e8-8f99-2dc5832aa5c8.png)

OK and No appear twice in the pending words list.

[2018-05-03 11:09] aldonetti commented on #17
thank you for the feedback @jiangsheng - these are popular strings that appear multiple times in the software and are not de-duplicated. @khoiph1 anything we can do about it?

[2018-05-03 12:44] benedetti commented on #17
comment allez vous

[2018-05-03 20:16] khoiph1 commented on #16
@jiangsheng We have fixed the issue. Shift + Right Arrow key will not submit a suggestion. A shortcut key for submitting a translation is Ctrl + Right Arrow key. Thank you for report the issue to us.

[2018-05-03 20:16] #16 closed

[2018-05-06 18:29] jiangsheng commented on #16
can you skip control +shift arrow key?

[2018-05-08 20:29] jiangsheng opened #18 "HTML code in source string"
![20180508152426](https://user-images.githubusercontent.com/1025946/39781277-57450c3c-52d4-11e8-85ec-99b56bee384a.png)

the extractor should be able to separate HTML code and localizable string.

[2018-05-12 16:11] jiangsheng opened #19 "punctuation as source string"
just found "!" (U+0021) in the list of source string for Team Explorer Everywhere. It is another case that I think should have an option to vote the source string out as there is no universal translation. Normally the exclamation mark could be translated as “！” (U+FF01) in Chinese, however if it is part of code (e.g. if a != b) then the exclamation mark should not be translated.

[2018-05-13 09:16] Lev09 opened #20 "Add missing language"
I wanted to contribute and work on adding Armenian language to VS code but I did not manage to find it in list of `Request language for vscode-edito. Available languages:` .

[2018-05-14 12:42] dizzi90 opened #21 "[loc]Request to add Norwegian (Bokmål) language to VS Code project in Transifex"

[2018-05-14 12:44] #21 closed

[2018-05-14 17:34] khoiph1 commented on #18
@Monasr please follow up with Karl to remove the non-breaking space if we don't need it in this string.

[2018-05-15 07:40] microsoftl10n commented on #17
Those strings come from multiple source files. Thus, we cannot remove them.

[2018-05-15 07:42] khoiph1 commented on #17
Those strings come from multiple source files. We need them there.

[2018-05-15 07:42] #17 closed

[2018-05-24 02:13] jiangsheng opened #22 "incomplete sentence in source string, no way to translate correctly due to different word order"
Product is Team Explorer Anywhere

source string is

"When -auto:External is specified, file contents are merged using the program specified by the"

in Chinese the using adverbial should be placed before the verb (merge). Thus there is no way to translate this sentence correctly due to word order difference.

[2018-05-24 18:32] praveeg commented on #22
@jiangsheng - Thanks for raising the issue. I am contacting the product team to clarify the source string. I will update this issue as soon as I get a response.

[2018-05-29 13:48] jiangsheng opened #23 "source string contains only a tag <Default> that cannot be translated"
if translate the tag as <默认>, then error "The tag <Default> is missing in your translation. Please make sure to include it" occurs.

Product is SQL operation studio.

[2018-05-30 09:05] jojoku opened #24 "vs code 1.24 not supporting Chinese (Simplified) Language Pack for Visual Studio Code"
vs code 1.24  not supporting Chinese (Simplified) Language Pack for Visual Studio Code

[2018-05-30 16:20] danyeh commented on #24
@jojoku , thank you for reporting this issue! This issue was fixed with Chinese language pack 1.24.1. Please update to this new version within VS Code or install from https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans.

[2018-05-30 16:20] #24 closed

[2018-06-08 16:49] praveeg commented on #19
@jiangsheng - I confirmed that these exclamation marks are just single exclamations used for a sentence and not used as a!=b. Hope this answers your questions.

[2018-06-09 13:37] jiangsheng opened #25 "The final punctuation mark ' in your translation does not match the source."
source string is
Disabling Alert '{0}'
from SQL Tools for Linux.

aren't we supposed to translate punctuations as well (#19)? E.g. apostrophe (U+0027)->full width apostrophe (U+ff07)

[2018-06-09 13:46] jiangsheng commented on #19
The question is a punctuation like this should not be a source string by itself.

[2018-06-13 14:29] aldonetti commented on #25
Hello @jiangsheng  thank you for your request and sorry for the belated reply.
You could do that if you wanted to

[2018-06-13 14:29] #25 closed

[2018-06-13 16:29] praveeg commented on #19
Agreed that the punctuation should be a source string by itself. I created a bug for the product team to remove this string and concatenate '!' with strings where it is being used.

[2018-06-20 10:28] aldonetti commented on #19
hi @praveeg , just checking -  is this done? thanks!

[2018-06-20 16:43] praveeg commented on #19
@aldonetti - the question is answered but this is pending bug fix from core team. we can resolve this ticket here and I can come back to update once the bug is fixed.

[2018-06-20 16:54] praveeg commented on #22
The incomplete sentence ”_When -auto:External is specified, file contents are merged using the program specified by the_” is a part of a longer help text. Note that besides “_CommandResolve.HelpText2_” there other resource strings with identifiers like “_CommandResolve.HelpText<number>_”. If you sort them in a natural order you’ll see the complete string as:

**When -auto:External is specified, fi

[2018-06-27 18:44] khoiph1 commented on #23
@jiangsheng Please click continue when you see the warning. We will update the warning to avoid the confusion.

[2018-06-27 18:44] #23 closed

[2018-06-27 18:51] khoiph1 commented on #18
This non-breaking space is part of the source string. Please include it in the translation.

[2018-06-27 18:51] #18 closed

[2018-07-20 21:57] vance opened #26 "$90 Billion Revenue Company Can't Pay for Localization"
Azure is already several factors more expensive than competing cloud services and can't even localize their own documentation, hosting a [doc-a-thon](https://www.microsoft.com/en-ca/web/doc-a-thon/default.aspx?wt.mc_id=AID721128_QSG_EML_260506). Please fix this issue ASAP.

[2018-08-14 11:46] pmsousa opened #27 "Microsoft Account not working"
Hi guys,

Tried to access  https://aka.ms/loccommunity and logging in with my Microsoft Account, following the [instructions](https://github.com/Microsoft/Localization/wiki/How-to-contribute-to-Software#initial-platform-sign-up), but after giving consent, the page reverted to Guest. After that, every time I try to login again it always reverts to guest! I've tried different browsers but with no lu

[2018-08-23 15:32] Navis-Raven opened #28 "issue in the french plugin"
In the file menu there is an issue for the french plugin, the Ctrl shortcuts commands are at the wrong place.

![image](https://user-images.githubusercontent.com/15887222/44535377-235afb00-a6fa-11e8-8221-8adf57267a29.png)

I've tested two of them and they are wrong and not valid (Ctrl + K Ctrl + O ; and Ctrl + K S)

I don't know if there is this issue in other menues

[2018-09-17 03:20] doggy8088 opened #29 "Transifex is so hard to find some translation items"
Sometimes we take a lot of time to find an item on Transifex.  There are too many categories and too deep in the hierarchy.  Is there any FULL TEXT SEARCH on all categories and all resources?

[2018-09-17 03:36] matsurigoto commented on #29
For example, @doggy8088 and I would like to find 'Extract to function in module scope', 'Extract to constant in enclosing scope', and 'Move to a new file' as below
![messageimage_1537151990123](https://user-images.githubusercontent.com/7632413/45605076-d2c28d80-ba6c-11e8-8791-d8eae83f87bd.jpg)

But we took long time and failed.
![messageimage_1537153635996](https://user-images.githubusercontent.co

[2018-10-08 20:00] danyeh commented on #29
@doggy8088 @matsurigoto , thank you for your feedback! I acknowledge the overall string search experience is painful.
Regarding those strings on screen, indeed they don't exist in Transifex vscode projects. They are not localizable strings yet. I performed a search in vscode repo, looks like these strings don't exist there as well. Maybe from other toolset.
To drill down, I suggest to open an issu

[2018-10-08 20:00] #29 closed

[2018-10-08 20:11] danyeh commented on #28
@Navis-Raven , thank for your feedback! Could you please open the issue in vscode repo instead?
It doesn't look like translation issue. Our translation is hosted in Transifex, I could not find these Ctrl shortcut. Some info of localization: https://aka.ms/vscodeloc.

[2018-10-08 20:11] #28 closed

[2018-10-08 22:23] khoiph1 commented on #27
Hi @pmsousa,
Please email mscommunityprogram@microsoft.com your account in MLCP.
Thanks,
Khoi

[2018-10-08 23:31] #22 closed

[2018-10-08 23:31] #19 closed

[2018-10-09 20:42] Navis-Raven commented on #28
opened here https://github.com/Microsoft/vscode/issues/60391

[2018-10-24 11:28] stulzq opened #30 "The leaderboard does not have my account."
My points has exceeded 100, but the leaderboard has not had my name. I have been observing for a few days.I sent an email to mscommunityprogram@microsoft.com on October 22 to explain the problem, but did not receive a response.
My account information：
[code]
Thanks.

[2018-10-24 19:52] khoiph1 commented on #30
Closing this issue as I followed up with Zhiqiang on email.

[2018-10-24 19:52] #30 closed

[2018-11-04 10:48] chenjd opened #31 "My account appears on the wrong leaderboard"
My account information:

Username: jiadong chen
Org: Microsoft MVP
Email: shaun.chan@hotmail.com

but my account appears on contributor instead of mvp contributor.

[2018-11-15 16:56] aldonetti commented on #31
thank you @chenjd for letting us know - we are fixing it.

[2018-11-19 23:01] Fujiwo opened #34 "My account appears on the wrong leaderboard"
My account appears on the wrong leaderboard.

My account information:

Username: Fujio Kojima
Org: Microsoft MVP
Email: fujiwo@hotmail.co.jp

My account appears on contributor instead of mvp contributor.

[2018-11-20 03:51] terrysheng commented on #34
@Fujiwo Thank you so much for your update, we are fixing it soon :)

[2018-12-13 15:59] shrijap commented on #31
Hi,

Apologies for the delayed response! You should be able to see your name on the MVP side of the leaderboard now. Thank you for contributing to Microsoft!

[2018-12-13 15:59] #31 closed

[2018-12-13 16:00] shrijap commented on #34
Hi,

Apologies for the delayed response! You should be able to see your name on the MVP side of the leaderboard now. Thank you for contributing to Microsoft!

[2018-12-13 16:00] #34 closed

[2018-12-14 00:07] SetTrend opened #36 "Revise registration form - No, I do NOT want to receive newsletters"
Please revise the text of the last checkbox in the registration form:

![mlcp](https://user-images.githubusercontent.com/9283914/49975059-5a207f80-ff3c-11e8-8511-5be4d681d3fe.png)
<br/>

### NO, I DO *NOT* WANT TO RECEIVE E-MAILS OR NEWSLETTERS!
<br/>

[2018-12-14 10:02] aldonetti commented on #36
thank you for your suggestion @SetTrend - we are looking into it

[2018-12-14 21:07] umnovI opened #37 "Read only input boxes for First name and Last name in settings"
My name in Microsoft account was in Russian and it'a OK, because it was for personal uses, but when I created account on Localization Community I even couldn't transliterate my name and it's same in user profile. It becomes unreadable for users who don't know Russian.
I think it would be better if people could change their Display name at least.

[2018-12-14 21:35] aldonetti commented on #37
Interesting scenario, thank you Ilia. I'll raise it to the engineering team and see what we can do. Thanks!

[2018-12-15 06:26] qcz opened #38 "Hungarian translation of VS Code in MLCP"
As suggested in the latest announcement, I've signed up to the Microsoft Localization Community Platform to continue the localization of VS Code to Hungarian. However, the only project I see there is the "Azure - BatchExporter":
![firefox_2018-12-15_07-23-04](https://user-images.githubusercontent.com/304384/50039889-54a95f00-003a-11e9-976b-9f3f4cd0aa76.png)
There are no further instructions on [th

[2018-12-15 07:01] aldonetti commented on #36
@SetTrend - hello again Axel. I have checked and, as strange as it may seem, you are not going to be enrolled into any newsletter. It's "standard" legal text we have used, to ensure we can reach out to you with communications which are related to the activity itself - you are not going to receive any marketing/sales email or newsletter by checking that flag.
In general, with any Microsoft Account,

[2018-12-15 07:40] aldonetti commented on #38
@qcz - thank you Dániel !
the translation of VS Code will restart after the migration to the new platform
you can see the warning note in the [VSCode project page](https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project)
![2018-12-15 08_35_33-visual studio code community localization project microsoft_localization wiki](https://user-images.githubusercontent

[2018-12-15 07:40] #38 closed

[2018-12-15 08:49] Joelism opened #39 "How to modify an accepted translation in MLCP?"
There're some mistranslations in VSCode zh-CN language pack, how can I submit an suggestion to correct it?

[2018-12-15 10:59] SetTrend commented on #36
Thank you for enlightening me, Aldo.

What e-mails in particular would I unsubscribe from if I chose to "unsubscribe the emails from the Community"?

[2018-12-18 08:57] simonech opened #40 "MLCP: Cannot select another language"
I just registered into the MLCP for the upcoming migration of VS Code from transifex.
This platform has so many less features, but the one I miss the most is the possibility to switch to another language.
There 2 scenarios:
 - I want to help in multiple languages (I'm Italian native speaker, but I also help with Latvian)
 - I want to be able to see how a source string has been translated to anothe

[2018-12-18 13:44] aldonetti commented on #40
Ciao @simonech - as yo uhave noticed, currently this is not possible. Let me ask if there's any available workaround. Please stay tuned and thanks!

[2018-12-22 15:44] SpecFI opened #41 "Finnish language not having any data in MLCP, though it has been alive in Transifex for a year"
VS Code - Finnish language is visible in MLCP, but it does not contain any data (no project nor strings).
It has been available for translations in Transifex side for some year by now.
Could someone get the Finnish running in MLCP side as well?
Thanks.

[2018-12-24 10:36] aldonetti commented on #36
Sorry for the delay Axel - you would be unsubscribing from *all* emails.

[2018-12-24 10:36] #36 closed

[2018-12-24 13:14] aldonetti commented on #41
HI Petri, migration is in progress and will be done by end of December - you should find all strings available in January (in MLCP). Thanks!

[2018-12-24 13:14] #41 closed

[2018-12-24 13:18] aldonetti commented on #40
Hi again, Simone - currently it is only possible by using two different accounts. I have logged a Feature request and I will let you know when it gets prioritised and out of the backlog. Thanks for your contributions!

[2018-12-24 13:18] #40 closed

[2018-12-24 13:20] aldonetti commented on #39
Hi @Joelism, you can open a GitHub Issue here (as you have done now) with the details of the existing translation and the proposed one. We will handle it. Thanks much for you help!

[2018-12-24 13:20] #39 closed

[2018-12-24 13:43] SetTrend commented on #36
@aldonetti : Would this option also include switching off notification e-mails regarding my particular translations? I would still want to receive notification e-mails concerning my particular translations.

[2018-12-24 15:11] Joelism commented on #39
Hi, after seeing https://github.com/Microsoft/vscode/issues/65534, I compared Chinese localization files before and after the platform transition, and noticed some of strings are changed inaccurately or for more inconsistencies. The number is pretty high actually, it may take a long time for me to report them all, I'll try my best.
Seriously, it's nice of you guys to review our translation, but di

[2019-01-01 06:02] Korver2017 opened #42 "Chinese (Traditional) Language Pack "大綱" Word Error"
Chinese (Traditional) Language Pack for Visual Studio Code, It seems to have an error word which is in the description when the outline section is empty.

<img src="https://images2.imgbox.com/3b/23/OJuPDZ4X_o.png" alt="Word Error" title="One Word Error" width="70%" />

[2019-01-07 12:26] lyubomirv opened #43 "MLCP is not mature enough for VS Code"
Hello!

I am the main translator of VS Code to Bulgarian. I would like to express my dissatisfaction with MLCP. Note that I have already sent this same message as 'feedback' inside MLCP, but I have not received any response so far.

I really do not understand why VS Code was moved out of Transifex and into this system. The MLCP is clearly immature and in my opinion will not work well for the local

[2019-01-09 08:18] aldonetti commented on #43
@lyubomirv thank you very much for your feedback - you are right. Some of the points you are making were already raised internally but getting this feedback from the actual users helps to validate the usage scenarios and the asks. I am going to log these requests, which will be prioritised by the engineering team.
The migration cannot be reverted, but I hope it will not be completely blocking - it

[2019-01-12 20:28] romanfedyshyn opened #44 "Ukrainian language pack"
I want to take part in adding Ukrainian language support in vs code. What should I do for that?

[2019-01-24 12:54] SetTrend commented on #43
I share @lyubomirv's concerns.

I'm not able to search for an item that's currently translated wrong in Visual Studio Code.

Is there a roadmap available for Localization?

[2019-01-25 21:02] aldonetti commented on #43
@SetTrend thank you Axel - if you see a term which is incorrect please open an issue here and we'll get it fixed.
As for Localization plans we don't have a finalized one yet, but we are compiling a prioritized list of top requests, so if you have any other than what @lyubomirv has listed above, please do let me know (with priority).
@lyubomirv we are currently looking to repro and fix the Shortcut

[2019-01-29 13:05] t-deman opened #45 "The name displayed on the right site does not correspond to the left account selected"
![image](https://user-images.githubusercontent.com/23658340/51910151-a6c9f800-23ce-11e9-8e8a-97972aadedc7.png)

It is always the same name staying on the right part. But the graphical pie is well updated.

[2019-01-29 19:47] shrijap commented on #45
Hi Thierry,
Thank you for reaching out to us! This issue is fixed now. We appreciate the feedback!
Shrija

[2019-01-29 19:47] #45 closed

[2019-02-07 03:13] Venthe opened #46 "Vscode contributors list contains vulgarisms"
In polish contributors you can see "chujcie toobchodzi" which roughly translates to "thefuc kyoucare". Please remove it

[2019-02-07 03:14] Venthe commented on #46
![screenshot_20190207-041101](https://user-images.githubusercontent.com/1686874/52388462-c5935300-2a8e-11e9-89b4-a94e361e9447.png)

[2019-02-07 09:40] DaTRiX25 opened #47 "Wrong Culture ID for Bosnian in VS Code CLP Wiki page"
Currently it's "cs-latn-BA" but it should be "bs-latn-BA", since "cs" is for Czech.

[2019-02-07 14:40] aldonetti commented on #46
@Venthe thank you - we are removing it. we will be asking the user to fix his/her name. thanks again

[2019-02-07 14:40] #46 closed

[2019-02-08 10:48] aldonetti commented on #47
thank you @DaTRiX25 - fixed.

[2019-02-08 10:48] #47 closed

[2019-02-08 10:57] aldonetti commented on #44
Hi @romanfedyshyn - thank for your interest in supporting the Ukrainian-speaking developer community. Unfortunately we had enabled the Ukrainian language in VSCode but then after many months we noticed that there were too few contributors and the translation was never completed.
We could re-enable it again, but to be successful we should at least find a few more contributors, or else it's too big

[2019-02-08 10:57] #44 closed

[2019-02-11 12:37] levrik opened #48 "Can't use different mail address from my Microsoft account"
I don't want to show my mail address public. I have a different mail address for that.
I don't really want to create a separate Microsoft under a different mail address just for VS Code localization.

[2019-02-11 12:43] levrik opened #49 "Can't contribute to VS Code"
![image](https://user-images.githubusercontent.com/9491603/52563899-ed721600-2e02-11e9-850f-f511460ef162.png)

Where is it? I already contributed a lot on Transifex before.

[2019-02-11 12:49] levrik commented on #43
@aldonetti You can't correct strings anymore? I initially started contributing to VS Code translations due to mistakes in translations. It was when the initial Transifex project started. Now, after the move to the new platform, I start seeing a lot of mistakes again. I just wanted to correct them but had to find out that this isn't easily possible anymore.
I'm quite annoyed by the new platform and

[2019-02-11 19:07] aldonetti commented on #48
hi @levrik your email is not being showed publicly - where do you see that?
the user information that you see when you look at your profile in te MLCP tool (https://envelope-community.azurewebsites.net/auth/profile) it's only for you to see, it's not public.
thanks

[2019-02-11 19:28] aldonetti commented on #49
hi @levrik no worries - it just happens that _when no contributions are needed, the project disappears from the list_. This is because VSCode was just released. As soon as new strings will be available for translation/voting you will find the "DevTools - VSCode" project in the list again.
thanks for your contributions!

[2019-02-11 19:28] #49 closed

[2019-02-11 19:52] aldonetti commented on #43
@levrik Hi Levin, I'm sorry to hear you will not be contributing anymore - unfortunately that's how it is today :( and I know the pain. The best I can do today is to look at the Issues opened here and make the fixes that you suggest, as a workaround until we have found a real solution with the Engineering team.

[2019-02-15 19:39] #48 closed

[2019-02-21 02:14] mahovich opened #50 "Corrections in Russian translation"
Since on https://envelope-community.azurewebsites.net/ cannot make changes to an existing translation, please correct the Russian translation:
"Разделить&" => "Разделить вверх"
"Отделить слева" => "Разделить слева"
"Отменить индексацию изменений" => "Отменить промежуточное изменение"
"Отменить индексацию всех изменений" => "Отменить все промежуточные изменения"
"Индексировать изменения" => "Примен

[2019-02-22 13:26] aldonetti commented on #50
thank you for your suggestions @mahovich - we'll make changes on our end

[2019-02-22 13:26] #50 closed

[2019-02-26 09:29] lukaschal commented on #50
On review.

[2019-02-27 10:54] lukaschal commented on #50
Fixed as per below.

SRC: Split Left
CORRECT: Разделить слева

SRC: Unstage Changes
CORRECT: Отменить промежуточное изменение

SRC: Unstage All Changes
TGT: Отменить индексацию всех изменений
CORRECT: Отменить все промежуточные изменения

SRC: Stage Changes
CORRECT: Индексировать изменения

SRC: Stage All Changes
CORRECT: Хранить все промежуточные изменения

[2019-02-27 10:54] lukaschal commented on #50
The terms suggested to be left in English (like "commit", "push" and "pull") are actually localized in the general meaning on Git resources, including the Russian version of the book "ProGit". These translations are reflected in Term Studio and hence should remain as is.

[2019-02-27 15:29] imba-tjd opened #51 "zh-cn translation error"
VSC Version: 1.31.1

the first line of `keybindings.json`(user defined key binding, not default one) has a translation error.

should be:

![image](https://user-images.githubusercontent.com/24759802/53677114-cada6b00-3ce5-11e9-972e-121a6c2961f2.png)

[2019-03-01 17:53] shawndon commented on #51
Assigning to Loc production to address.

[2019-03-02 16:15] wangweixuan opened #52 "Make a punctuation guideline"
I am using the Chinese (Simplified) Language Pack for Visual Studio Code and I am feeling unsatisfied about its translation, particularly its use of punctuation. Different halfwidth and fullwidth quotation marks `' '` `" "` `“ ”` and parentheses `( )` `（ ）` are used interchangeably everywhere.
Another significant problem is whether a space should be inserted between Latin and Chinese characters, o

[2019-03-02 17:11] wangweixuan opened #53 "Chinese (Simplified) translation mistakes in VS Code"
Below are some translation mistakes I see whenever I use VS Code. I am not able to modify them through MLCP.
File names and line numbers are taken from the machine generated files.

## extension/git.i18n.json
#### `已注销` means signed out (from a website, etc.). The sign-off operation in Git should be `署名`:
[code]

## extensions/vscode-node-debug2.i18n.json
#### `Node` should not be translated:
[cod

[2019-03-03 07:45] scraimer commented on #43
I just spent a while trying to contribute my own translations. The tool is disheartening, and trying to make my finger not press on CTRL-RIGHT is hard, so I've found myself submitting strings accidentally before I've finished editing them. And I can't go back to fix it after such a mistake!

That means the tool is **actively** contributing to bad data input.

Please fix it or go back to Transifex,

[2019-03-04 09:17] lukaschal commented on #51
CHS. On review.

SRC: Place your key bindings in this file to override the defaults
TGT: 将密钥绑定放在此文件中以覆盖默认值

[2019-03-06 04:08] Joelism commented on #53
This issue seems to fall off repo manager's radar. My suggestion is to open an issue in https://github.com/Microsoft/vscode-loc/, they have a folk there quite actively and directly addressing translation issues.

[2019-03-06 13:23] lukaschal commented on #42
@Korver2017 Please, could you try verify this issue on latest CHT language pack and provide us ENU screenshot as well ?

[2019-03-06 13:29] lukaschal commented on #42
Translated way mentioned below in a MLCP.

SRC: There are no editors open that can provide outline information.
TGT: 沒有開啟的編輯器可提供大網資訊。

[2019-03-06 17:57] aldonetti commented on #53
thank you @wangweixuan .
@Joelism the translations are done through an external tool (MLCP) and not directly in the repo. @shawndon / @janbaltus should be able to fix those in the tool so that they get reflected in the repo at the next vscode build

[2019-03-06 18:20] shawndon commented on #52
@wangweixuan Thanks for the feedback. Our linguistic team will take a look at the quality. Do you have any examples? Also, I will look into providing better writing style guidelines.

[2019-03-07 08:54] lukaschal commented on #53
On review.

[2019-03-12 09:37] lukaschal commented on #51
Fixed.

New TGT: 将键绑定放在此文件中以覆盖默认值

[2019-03-12 09:49] lukaschal commented on #42
Fixed.

New TGT: 沒有開啟的編輯器可提供大綱資訊。

[2019-03-12 10:29] lukaschal commented on #53
All fixed as suggested in a MLCP platform now.

[2019-03-12 17:49] shawndon commented on #51
@imba-tjd Fixed

[2019-03-12 17:49] #51 closed

[2019-03-12 17:50] shawndon commented on #42
@Korver2017 Closing as fixed

[2019-03-12 17:50] #42 closed

[2019-03-12 17:51] shawndon commented on #53
@wangweixuan closing as fixed

[2019-03-12 17:51] #53 closed

[2019-03-18 17:05] NextTurn opened #55 "Docs.ms: Link texts in Markdown files should be translated"
For example

dotnet/docs.ko-kr#92
dotnet/docs.cs-cz#12
dotnet/docs.es-es#106
dotnet/docs.de-de#127
dotnet/docs.pl-pl#191
dotnet/docs.it-it#59

[2019-03-26 05:42] imba-tjd opened #56 "Dashboard html error"
See the picture.

![图片](https://user-images.githubusercontent.com/24759802/54973857-b7f94480-4fcc-11e9-8db1-912736e472e3.png)

The class should be `nav-item`, not `nav-item dropdown`

[2019-03-26 10:30] aldonetti commented on #56
fixed. thanks, @imba-tjd !

[2019-03-26 10:30] #56 closed

[2019-04-03 16:08] #55 closed

[2019-04-10 23:40] csheesun commented on #43
Hello everyone. I just started to translate strings into Korean.
As other users, I discovered some flaws of MLCP.
First, some of my votes and translation that I newly suggested fade away after I press refresh button or Apply button while some of them remain.
Second, I need some engineers or someone who can answer technological inquiry about original string.
I understand English strings but some st

[2019-04-14 16:16] terrysheng commented on #43
Hi @csheesun
Thanks so much for your valuable feedback and contribution. We will investigate this further, and we will continue to improve MLCP.
Thanks so much.

[2019-04-25 03:08] Epikem opened #57 "Korean translation error found in vscode"
It shows '실행중인 저장 관계자...' when i save a file but it is wrong because it means 'the executing save manager' but i can't find the string on MLCP site. It should be at least like '저장 관계자 실행중...' which means 'executing save manager...' or could be just '저장중...' which means 'saving...'

[2019-05-04 09:38] momoto opened #58 "My account is duplicated in the leaderboard"
My account appears duplicated in the leaderboard. My accounts are shown up as:

- Momoto, Seiji
- Seiji Momoto

**Screenshot:**

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/836856/57176966-eacf0c00-6e99-11e9-8e95-fb051e8a6026.png">

I guess that **Momoto, Seiji** is recognized as contributing from [my GitHub account](https://github.com/momoto) and that **Seiji Momo

[2019-05-08 15:29] shrijap commented on #58
Thank you for reaching out to us. We are looking into this, and will update you as soon as this is fixed. We appreciate your feedback!

[2019-05-09 15:17] terrysheng commented on #57
@danyeh Could you please have a look of this MLCP feedback for Korean?

[2019-05-09 16:26] terrysheng commented on #57
@Epikem Thanks so much for your valuable feedback. I will work with the teams to check and update it. Thanks so much.

[2019-05-09 21:39] shrijap commented on #58
This issue has been fixed now. Thank you again! Please let us know if there are any other concerns.

[2019-05-09 21:39] #58 closed

[2019-05-10 08:43] lukaschal commented on #57
On review.

SRC: Running Save Participants...
TGT: 실행중인 저장 관계자...

[2019-05-14 08:26] lukaschal commented on #57
Linguistic answer: Current target is not accurate and confusing. For the source "Running Save Participants..." I suggest the new translation as: 참가자 저장 실행 중... which means "Running the save of participants".

New TGT: 참가자 저장 실행 중...

[2019-05-15 03:20] Epikem commented on #57
I misread 관계자(Participants) as 관리자(Manager), Participants - 관계자 is right. The source sentence was confusing to me but I understood its meaning after reading this: https://github.com/Microsoft/vscode/issues/50351. So it means running extensions which related to save, not documents to save. Then '저장 관계자 실행중...' or '저장 참가자 실행 중...' would be correct. or '저장 처리자 실행중' which means 'running save processor

[2019-05-17 05:04] deepaktatineni opened #59 "Request for Telugu( te-IN)"

[2019-05-17 08:45] felsocim opened #60 "Request for Slovak (sk-SK) localization"
As an active developer originated from Slovakia, I would like to contribute to the Slovak localization of VS Code!

[2019-05-17 09:16] carstenhag commented on #40
Hey, is this still a thing? I know german, spanish and catalan, but now I am limited to german :/

[2019-05-17 15:02] madkoding opened #61 "Spanish translation error found in VSCode"
In all "Add" buttons says "Agregrar", should be "Agregar"

[2019-05-18 09:17] shabeerkdm opened #62 "Request for Malayalam( ml-IN)"
Kindly add Malayalam language option in MS Localization Community.

[2019-05-19 15:21] blindfirefly16 opened #63 "Request for Bengali Language Support"
It would be great for the Bengali Community to have visual studio code in Bengali Language. We want Visual Studio Code to be that kind of global. We, the Bengali Community, are eagerly waiting to start contributing to vs code as soon as it supports our language.

[2019-05-20 06:35] terrysheng commented on #57
Thanks so much @Epikem
Hi @lukaschal , could you please check with Linguistic Expert's opinion regarding @Epikem 's suggestion? (although it might be a little different from source)
Thanks

[2019-05-20 09:31] anceque commented on #60
I also would like to contribute to the localization. Can sk-SK be added?

[2019-05-21 09:58] srivatsahg opened #64 "Small Typo in the Wiki"
Small spell error to be corrected
![GIT](https://user-images.githubusercontent.com/2742470/58086874-1877bd00-7bdd-11e9-89c8-eae099c2d449.png)

[2019-05-21 11:24] aldonetti commented on #64
thank you @srivatsahg - fixed

[2019-05-21 11:24] #64 closed

[2019-05-21 11:29] aldonetti commented on #59
thank you for your interest and willingness to contribute @deepaktatineni - we need to get a few users to make such requests for the same language, because if there is not enough commitment/interest from a few contributors, it will never get translated.
@danyeh could you please add this to the count of requests?
thanks!

[2019-05-21 11:32] aldonetti commented on #60
thank you for your interest and willingness to contribute @felsocim and @anceque! It's great to get 2 requests in one :)  We need to get a few users to make such requests for the same language, because if there is not enough commitment/interest from a few contributors, it will never get translated.
@danyeh could you please add this to the count of requests?
thanks!

[2019-05-21 14:26] aldonetti commented on #63
thank you for your interest and willingness to contribute @blindfirefly16 - we need to get a few users to make such requests for the same language, because if there is not enough commitment/interest from a few contributors, it will never get translated.
If you know you can "enroll" a few more contributors, please do, and have them reply to this message as a "me too" :)
@danyeh could you please add

[2019-05-21 14:28] aldonetti commented on #62
thank you for your interest and willingness to contribute @shabeerkdm - we need to get a few users to make such requests for the same language, because if there is not enough commitment/interest from a few contributors, it will never get translated.
if you happen to know other from your community who are willing to contribute please ask them to reply to this message, so we can count them
@danyeh c

[2019-05-22 00:50] JungYeolYang opened #65 "Microsoft Cloud + AI International Community Leaderboard is ...."
Microsoft Cloud + AI International Community Leaderboard score tabe is same as Microsoft Cloud + AI International MVP Leaderboard score table.

[2019-05-22 00:59] JungYeolYang commented on #65
Um... It's not same as Microsoft Cloud + AI International MVP Leaderboard score table.  Anyway Thanos did something weired. There is not my score :'(

[2019-05-22 07:30] aldonetti commented on #65
hi @JungYeolYang - sorry to hear you cannot find your score. Was it there before? (you know there's a minimum of 100 points to appear on the Leaderboard)
if so, can you please let us know your info and we can check? You can find how to reach out to us at the bottom of the leaderboard page (email or web form)
thanks!

[2019-05-22 07:30] #65 closed

[2019-05-22 09:08] shrijap commented on #65
Hi @JungYeolYang - We are fixing this now and you should be able to see your score again in about 24 hours. Thank you for your patience as we fix this, and appreciate you reaching out to us through all the proper channels!

[2019-05-23 15:13] aldonetti commented on #60
hi again @felsocim and @anceque  - i have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) .
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VSCode today and it's no small task

[2019-05-23 15:13] #60 closed

[2019-05-23 15:14] aldonetti commented on #63
hi again @blindfirefly16  - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) .
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VSCode today and it's no small task - even

[2019-05-23 15:14] #63 closed

[2019-05-23 15:15] aldonetti commented on #59
hi again @deepaktatineni - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VSCode today and it's no small task - even wi

[2019-05-23 15:15] #59 closed

[2019-05-23 15:20] aldonetti commented on #62
hi again @shabeerkdm  - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) .
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VSCode today and it's no small task - even with

[2019-05-23 15:20] #62 closed

[2019-05-27 08:35] JungYeolYang opened #66 "Microsoft Cloud + AI International Community Leaderboard is not working now!"
Point calculation is not working recently. Please check it out.

[2019-05-27 14:49] shrijap commented on #66
Hi David. Could you tell us what is missing? Also, we have disabled points for any contributions made to  Machine Translated topics on Microsoft Docs currently. So if you do not see your points updated after contributing to an MT topic, then this is the reason. However, if it is something else, then please give me more details. Thank you!

[2019-05-27 16:32] JungYeolYang commented on #66
Hi shrijap. So I wanna know how to get the points posted the Microsoft Cloud + AI International Community Leaderboard. A few days ago, I could get the points with MT topic, but now I can't get the point with this way.

[2019-05-27 18:20] omaraljumaili opened #67 "Enable Arabic in MLCP"
I do have a passion for the Arabic language and commit to contributing to the translation of Arabic and enable it in MLCP.

[2019-05-28 07:25] aldonetti commented on #66
Hi @JungYeolYang - the description of how points in the Leaderboard are calculated, is just at the bottom of the [Leaderboard page](https://microsoftl10n.github.io). In summary, 2 ways: by contributing to the translation of selected Open Source Projects (see the [main wiki page](https://github.com/Microsoft/Localization/wiki)) *or* a Pull Request that suggests an improvement/fix on a Docs article

[2019-05-28 07:25] #66 closed

[2019-05-28 07:44] aldonetti commented on #67
thank you for interest and willingness to contribute @omaraljumaili !
while there is no problem adding Arabic to MLCP, if you mean to contribute to the Arabic translation of VSCode, there is unfortunately a product limitation which does not allow it to be translated into any Right-To-Left or Bidirectional language, so Arabic is not supported.
Sorry about that.
thanks!

[2019-05-28 07:44] #67 closed

[2019-05-31 16:38] aldonetti commented on #40
thank you for your interest @carstenhag - it's great that you have such skills :) I would pick the one where I'm most fluent and go for that. Hopefully it's German, as the community seems to need a bigger hand there :) thanks!!

[2019-06-07 04:33] amit-viacon commented on #63
Please enable Bengali language support. There are currently 260 million speakers and I would love to contribute.

[2019-06-07 04:42] amit-viacon commented on #63
Please enable Bengali language. There are currently 260 million speakers and I would love to contribute.

[2019-06-07 05:30] aldonetti commented on #63
thank you for your interest @amit-viacon !
I have added your request in the [VSCode project page](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) and have also added a reference to this thread to make it easier for others to find this thread.
As soon as we get to 4/5 volunteers we can enable it.
thanks again,
Aldo

[2019-06-11 05:55] ZtheLeader opened #68 "Urdu localizations error"
I am into Urdu translation for VS Code. After following the steps for registration for "Initial platform sign up", I am brought to "Microsoft Localization Community platform". But here I see nothing. Projects dropdown has no options and data below shows nothing too.

Can Anyone help me here ?

[2019-06-11 06:59] aldonetti commented on #68
hi @ZtheLeader , thank you for your interest in the translation of VSCode !
As explained in a [similar request](https://github.com/microsoft/Localization/issues/67) there is unfortunately a product limitation which does not allow it to be translated into any Right-To-Left or Bidirectional language, so Urdu is not supported.
Sorry about that.
thanks!

[2019-06-11 06:59] #68 closed

[2019-06-12 08:15] lukaschal commented on #61
Fixed in a MLCP.

[2019-06-12 08:18] lukaschal commented on #57
On review.

[2019-06-12 08:44] #61 closed

[2019-06-12 08:44] aldonetti commented on #61
thank you @lukaschal !

[2019-06-13 06:21] fahimshahrierrasel commented on #63
Enable it I hope we can manage more than 4/5 people to contribute on Bengali language pack

[2019-06-13 06:26] ahashan-LS commented on #63
Please enable it. You will find plenty of volunteers.

[2019-06-13 06:39] mohammadraasel commented on #63
It will be really great. So, Please enable it

[2019-06-13 07:53] shubhamviacon commented on #63
Please enable Bengali language. I would love to contribute. It will be really great for our community. please please please please enable Bengali language.

[2019-06-13 09:51] lukaschal commented on #57
Fixed.

new tgt: 저장 관계자 실행 중...

[2019-06-13 10:56] #57 closed

[2019-06-17 04:19] nurulhuda859 commented on #63
me too

[2019-06-17 07:52] aldonetti commented on #63
thank you all for your interest! looks like we have a quorum :)
I'll reply to this thread shortly with more info
thanks!

[2019-06-18 14:02] jithinjohne commented on #62
Hi Can you please add malayalam to visual studio code? I can contribute.

[2019-06-18 15:47] aldonetti commented on #62
that's great, thank you @jithinjohne - I have incremented the counter at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project). As soon as we get to at least 4/5 we'll reevaluate/enable it. It's already hard with those many people involved.
thanks!

[2019-06-20 15:05] dreygur commented on #63
Please enable Bangla Language. I am ready to support.

[2019-06-20 18:53] blindfirefly16 commented on #63
@aldonetti... Can we change the Culture ID from bn-IN to bn-BD Please.

[2019-06-21 08:12] aldonetti commented on #63
@brunolewin-msft can you please confirm which one is the correct default Culture ID for the Bengali language "bn" ? Thanks! (I know, but I'd like your expert opinion :) )

[2019-06-21 16:34] brunolewin-msft commented on #63
@aldonetti - we generally try hard to avoid picking a specific "default" coutry/region for a given language and try hard to keep things neutral wherever possible to be respectful of the multiple communities who use very close variations of a given language. E.g. in Azure, we have one German (de) version that works in the many German-speaking regions where we have users when it comes to picking a l

[2019-06-21 18:36] weeteckt commented on #63
Thanks for all the input. The language will not be associated to a specific country/region and therefore CultureID reference will be removed. We will also update the MLCP Language code to Bengali(bn).

[2019-06-24 12:26] aldonetti commented on #63
thank's great - thanks for the input and action @brunolewin-msft and @weeteckt !

[2019-06-25 07:36] aldonetti commented on #63
hi everyone - I just wanted to let you know that while in the process of enabling Bengali we realized that that language is missing from the backend and requires an engineering change - due to previously committed work the engineering team cannot commit to implementing that until the end of July. (thanks @weeteckt for pushing and tracking that) we'll update you once we are done. thanks!

[2019-06-26 10:37] blindfirefly16 commented on #63
Thanks for the update. We are waiting till the backend work gets done. In the meantime we will try to engage more volunteers in this project. Thanks again!

[2019-07-02 10:57] AhmedShaikoun opened #69 "Please add Arabic Egypt (ar-eg) or just Arabic (ar) language to MLCP"
Can you please add Arabic Egypt (ar-eg) or just Arabic (ar) language to MLCP, it will be a good addition and the most users of vs code in Arabic is Egyption developers

[2019-07-02 19:03] aldonetti commented on #69
@AhmedShaikoun - thank you very much for your interest and willingness to contribute, Ahmed!
As mentioned in this Issue [67](https://github.com/microsoft/Localization/issues/67), unfortunately VSCode has an engineering limitation for which Right-To-Left/BiDirectional languages like Arabic or Urdu are not supported. I'm sorry about that.
However, I am recording the requests in this [page](https://g

[2019-07-02 19:03] #69 closed

[2019-07-02 23:22] somzJosf commented on #62
I can contribute to this.

[2019-07-03 19:18] tornikenats opened #70 "Adding Georgian to MLCP"
I would like to help to translate Visual Studio Code into Georgian. However, I couldn't find it in the options for Microsoft Localization Community. Would it be possible to add it in?

[2019-07-04 04:08] marsxxl opened #71 "Chinese (Simplified) translation lost"
VS Code Version 1.36.0 (1.36.0)
Chinese (Simplified) Version 1.36.2
**“按键映射”**
![](https://i.imgur.com/fiIT1RR.png)

[2019-07-04 05:26] aldonetti commented on #71
Thank you @xinxiaoliang we are looking into it

[2019-07-06 13:22] wojtekmaj commented on #43
I'm really sorry to have to say this, but MLCP is a _disgrace_ to translation community out there. This should never got out in such early development stages.

* Lack of search
* Inability to communicate with original string authors, asking for a context of some kind, and inability to comment
* Inability to suggest many translations - once you submit, the entry is forever gone from the list
* No g

[2019-07-08 00:37] yanshouwang commented on #71
And it's right in the menu, but wrong in the setting icon's popup
![image](https://user-images.githubusercontent.com/24455689/60776046-99722000-a15b-11e9-9efd-c7e32076911b.png)
![image](https://user-images.githubusercontent.com/24455689/60776050-a989ff80-a15b-11e9-89f8-77b3a9822a7a.png)

[2019-07-08 09:16] janbaltus commented on #70
Docs here:
https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project

Adding Wee Teck for evaluation

[2019-07-08 09:17] janbaltus commented on #70
@weeteckt

[2019-07-08 17:36] satyamkondle commented on #59
Hi @aldonetti, I would also like to request to include Telugu. I am willing to contribute to this effort. Thank you.

[2019-07-09 21:04] andygonusa commented on #43
@wojtekmaj  Thank you for the feedback. I want you to know that our team, including myself personally, are looking at updating tools and processes with the top requests from the community. We have started with some basics documented here https://github.com/Microsoft/Localization/wiki/MLCPImprovements. In addition, Search, Context, Glossary, and Reference are top features we are currently spec'ing

[2019-07-10 04:31] sibber11 commented on #63
I am in.

[2019-07-10 06:33] paulkiren commented on #62
I can contribute to this.

[2019-07-10 08:26] dbaeumer commented on #71
The strings seems to be correctly localize in  VS Code source code. The locations are:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/extensions/electron-browser/extensionsActions.ts#L1829

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/extensions/electron-browser/extensions.contribution.ts#L299

https://github.com/Microsoft/vscode/blob/master/s

[2019-07-11 06:20] aldonetti commented on #63
great! thank you @sibber11 . this should be available shortly.

[2019-07-12 18:56] weeteckt commented on #70
Thanks for the interest Tornike Natsvlishvili, I am adding our community manager @aldonetti to provide guidance.

[2019-07-12 19:10] weeteckt commented on #71
Thanks for the feedback and this will be fixed in the next language pack update.

@janbaltus to implement this fix.

[2019-07-13 15:15] JungYeolYang opened #72 "Microsoft Cloud + AI International Community Leaderboard issue report"
Hello. I’m David Yang.
I wanna know how the two persons(the red boxes in the image) to got their score tooooooo quick!
I mean the calculation system has some problems…
Please check the two person's pull requests and score..
Thx in advance.

<img width="357" alt="image" src="https://user-images.githubusercontent.com/13944439/61173283-415c7300-a5cc-11e9-9037-16db82eea9b1.png">

[2019-07-13 16:17] aldonetti commented on #72
Hi @shrijap can you please check? Thanks

[2019-07-14 01:30] JungYeolYang commented on #72
Yoichi Nakamura either!

[2019-07-15 20:51] shrijapPERSONAL commented on #72
Hi @JungYeolYang - we will look into this and let you know soon. Thank you for your feedback!

[2019-07-15 21:15] shrijap commented on #72
Hi @JungYeolYang - we are looking into this and will update you soon. Thank you for your feedback!

[2019-07-15 22:20] vpinnaka commented on #59
Hi @aldonetti and @satyamkondle, I am willing to contribute to include Telugu, please let me how I can help

[2019-07-16 05:19] deepaktatineni commented on #59
and then there are three

[2019-07-16 17:08] shrijap commented on #72
Hi @JungYeolYang - thank you for bringing this to our attention. This was a data refresh issue and has now been fixed. Thank you for your valuable feedback again!

[2019-07-16 17:08] #72 closed

[2019-07-22 14:19] aldonetti commented on #59
thank you all! I have update the count on the VSCode page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project#list-of-languages-requested--number-of-requests). Let's see if we can get a few more ...
thanks!!

[2019-07-22 14:24] aldonetti commented on #62
thank you all! I have updated the counter at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project#list-of-languages-requested--number-of-requests). Let's see if we can get a few more ...
thanks!!

[2019-07-29 12:50] bastien-boussouf opened #73 "VSCode fr-Fr translation error "Problème d'aperçu""
In Visual Studio Code, when a linter flags a line with an issue, the editor can show an overlay with quick fix and preview links.

The current fr-Fr translation for the preview link seems wrong as it reads "Problème d'aperçu" instead of "Aperçu du problème". The former has a totally different meaning and implies there is a problem with the preview itself while the latter invites to get a preview o

[2019-07-29 15:01] aldonetti commented on #73
thank you @bastien-boussouf ! @weeteckt can we see where is this string located please? thanks!

[2019-07-30 17:52] weeteckt commented on #73
We are implementing the fix and will target to include this in the next language pack version.

[2019-07-31 12:32] johnliu2016 commented on #73
The fix is implemented into community localization platform (MLCP)

[2019-07-31 13:15] johnliu2016 commented on #73
new Language Packs for VSCode containing the fix is published

[2019-07-31 15:25] #73 closed

[2019-08-01 14:11] barnabasn commented on #71
This is now fixed in the last (1.37.2) published Language Pack:
![image](https://user-images.githubusercontent.com/38212935/62300345-e6a19300-b476-11e9-91a8-266b5ab9a243.png)

[2019-08-01 16:17] yanshouwang commented on #71
But it's not fixed with mine, I am alreay update to the latest pack @barnabasn
![image](https://user-images.githubusercontent.com/24455689/62309888-efb45380-b4ba-11e9-9d19-1adb0fb66ec3.png)

[2019-08-01 16:21] yanshouwang commented on #71
And this "Open recent" also lost, what happened for me?
![image](https://user-images.githubusercontent.com/24455689/62310104-5df91600-b4bb-11e9-9e3d-93791c2ebb47.png)

[2019-08-01 16:37] bulletcoder commented on #71
The 1.37.2 zh-cn language pack causes more severe problems, as all the setting menus in extensions lost the translation. (testing in windows and mac os)
<img width="481" alt="屏幕快照 2019-08-02 02 36 22" src="https://user-images.githubusercontent.com/38938372/62311126-70c91600-b4ce-11e9-83e3-d1ef0e44ac68.png">

[2019-08-01 16:38] bulletcoder commented on #71
I hope the admin can revert the 1.37.2 update asap.

[2019-08-01 16:41] bulletcoder commented on #71
and the previous 1.37.1 did not fix "Keymap" translation in the bottom left setting menu.

[2019-08-01 17:36] weeteckt commented on #71
we are looking into this.

[2019-08-02 10:01] barnabasn commented on #71
The fix for the original issue ("Keymaps") was meant only for VS Code version 1.37.0. or above (e.g. for VS Code Insiders).
I reverted (republished) the previous version of Language Pack for 1.36 with LP version 1.37.3.
Plus, published the latest Language Pack (with fixed translation of "Keymaps") for engine 1.37.0 or above with LP version 1.37.4.
I tested the result with both the standard Visual

[2019-08-02 15:03] sibber11 commented on #63
any good news??

[2019-08-03 01:35] yanshouwang commented on #71
Now the latest version of VS Code is 1.36.1, so this issue will not be fixed until VS Code upgrades to 1.37.0? Do you know when we can upgrade the VS Code to V1.37.0? @barnabash

[2019-08-05 08:44] barnabasn commented on #71
The V1.37 version will be the July 2019 update. Expected release date (this may change) is 8/7, for more details, see https://github.com/microsoft/vscode/issues/78131.

[2019-08-05 12:39] aldonetti commented on #63
Hi @sibber11 some good news in general but not specifically for the Bengali community - the engineering team is currently working on improving the MLCP platform overall by addressing some of the top asks, and that's going to take about another month or so before the Bengali language is enabled. All, please bear with us until these improvements are deployed and we can then tackle the enablement of

[2019-08-05 15:58] dreygur commented on #63
Thanks @aldonetti  :smile:

[2019-08-07 07:13] mrchar opened #74 "请问为什么要把 "funcation" 翻译为 ”功能“？"
我是用VSCode并安装了Go插件进行golang开发，在大纲视图中，function 被翻译为 功能，请问为什么不使用程序员更熟悉的函数这个词？
![function](https://user-images.githubusercontent.com/51408183/62602228-db8ead00-b925-11e9-8081-e17b38157537.jpg)

[2019-08-07 08:15] aldonetti commented on #74
seems like a disconnect between the translation in the window and in the tooltip /cc @weeteckt

[2019-08-07 23:00] weeteckt commented on #74
@janbaltus, could you check which is more appropriate in this context, the current translation 功能 or 函数 as suggested?

[2019-08-08 08:01] lukaschal commented on #74
On review.

[2019-08-08 10:04] svcabre opened #75 "Adding Catalan to MLCP"
I would like to help to translate Visual Studio Code into Catalan Language. However, I couldn't find it in the options for Microsoft Localization Community. Would it be possible to add it in?

[2019-08-08 12:28] aldonetti commented on #75
hi @svcabre - thank you for your interest and willingness to help - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VSCo

[2019-08-08 12:28] #75 closed

[2019-08-08 12:41] aldonetti commented on #70
Sorry for the belated reply @tornikenats
Thank you for your interest and willingness to help - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
As for other new language requests, I'm closing this issue for now, until we get more requests from people willing to contribute,

[2019-08-08 12:41] #70 closed

[2019-08-09 20:05] amathew-statestreet-com commented on #62
I can contribute to this.

[2019-08-10 05:52] Bilosista commented on #60
Hi guys. If possible, I'd also like to contribute. My mom is using VSCode for editing HTML and JSON files and it would be great if she could understand everything VSCode "tells" her :)

[2019-08-10 16:46] MaekToth commented on #60
Hi, guys, I want to contribute, too!

[2019-08-12 09:08] lukaschal commented on #74
Fixed as suggested. Translation changed from 功能 to 函数.

[2019-08-18 10:44] aayulogic opened #76 "Adding “Nepali (Nepal)” (ne_NP) to MLCP"
I and my team are too much eager to contribute to MLCP for Nepali Language. Please enable it.

[2019-08-20 07:12] noriokaki opened #77 "Japanese translation error in VSCode"
Translations of Git related messages are missing.

![image](https://user-images.githubusercontent.com/12603061/63325127-7e9ee800-c364-11e9-8de4-12d49862e32d.png)

![image](https://user-images.githubusercontent.com/12603061/63325201-a55d1e80-c364-11e9-87fd-81b788d20348.png)

![image](https://user-images.githubusercontent.com/12603061/63326392-18679480-c367-11e9-8400-cef90cdfecbf.png)

[2019-08-20 16:50] fwpushan commented on #63
Want to contribute for Bengali Language support. Really appreciate this and overall initiative. :)

[2019-08-21 10:13] aldonetti commented on #63
thank you @fwpushan - hopefully it's not going to be long before we can enable it. @weeteckt or I will keep you posted. thanks!

[2019-08-21 12:48] aldonetti commented on #62
thank you @amathew-statestreet-com - as we now have 5 potential contributors we will start discussing it to se if/when it can be enabled. Hopefully in the meantime more will join ...
thanks!

[2019-08-21 12:51] aldonetti commented on #60
thank you @Bilosista and @MaekToth - I have recorded your requests by incrementing the counter in the VSCode project page. Hopefully as we get a couple more contributors, we could then enable it

[2019-08-22 09:26] lukaschal commented on #77
@weeteckt Are these strings exposed to localization ?

https://devdiv.visualstudio.com/Personal/_git/andarno.vscode?path=%2Fextensions%2Fgit%2Fsrc%2Fcommands.ts&version=GBremote-hackathon

[2019-08-22 20:07] aseques commented on #75
@aldonetti where should we add as a volunteers for the catalan translation? I'll would like to join

[2019-08-22 22:25] grigala commented on #70
I'm also willing to help! However, I don't see the use case of having Georgian language in the UI, except maybe for people who are very beginners and do not really speak any other major language(which is very rare in tech community).

Also, having previously worked with UI string translation for as big of a project as Android, I must admit that the language itself is not very technical and finding

[2019-08-23 06:14] janbaltus commented on #77
@weeteckt between resources we have for Vscode above strings are not present.
Maybe question for Dirk whether we want to localize this repo/extension?

[2019-08-23 08:17] aldonetti commented on #70
Thank you for your valuable opinions @grigala - there is a lot of truth in what you say.
It may also be a matter of habit (and preference). The motivations for having a localised UI can be variegated - one guy, who requested another language, was saying that he wanted to enable his mom to write code :) I can also see students benefiting from this and, as you say, beginners in general.
I guess I ca

[2019-08-23 08:33] aldonetti commented on #75
hi @aseques and thank you for your interest. as more people reply to this thread I will increment the counter at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project)
Thanks!

[2019-08-23 16:06] fitojb commented on #75
Count me in!

[2019-08-26 09:14] aldonetti commented on #76
hi @aayulogic - thank you for your interest and willingness to help - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in VS

[2019-08-26 09:14] #76 closed

[2019-08-28 05:09] masthandev commented on #59
hi i would like to add telugu language and i am willing to contribute please let me know any help required

[2019-08-30 07:51] lukaschal commented on #77
@noriokaki Hi, could you please provide us more info about tested build (drop location, install location, branch etc.)?

[2019-08-30 13:46] noriokaki commented on #77
@lukaschal
vscode info
version: 1.37.1 (user setup)
commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

Japanese Language Pack for Visual Studio Code ver.1.37.5
drop location :https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-j

[2019-08-31 22:33] tolibrozi opened #78 "Microsoft Visual Studio Code Locale"

[2019-09-02 04:12] bsomhz commented on #76
We would like to contribute MLCP for Nepali Language. Please enable it.

[2019-09-02 06:28] aldonetti commented on #76
thank you @bsomhz - I've added you to the count on [this page](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project)

[2019-09-02 06:57] aldonetti commented on #78
hi @tolibrozi - what is the issue?
thanks

[2019-09-02 08:04] anuragregmi commented on #76
We would also love to contribute to MLCP for Nepali Language.

[2019-09-02 08:07] adhikariravi commented on #76
I am also willing to contribute to this project. Please consider it.

[2019-09-02 08:12] ManSth commented on #76
I am also eager to contribute in this Project.

[2019-09-02 08:21] bcpratik commented on #76
We are seeking an opportunity to contribute MLCP for Nepali Language. It would be great if you enable it for us.

[2019-09-02 08:30] aldonetti commented on #76
thank you all! I have updated the count on the page mentioned above.
it really seems there are few volunteers now - we are waiting for some engineering changes to be deployed to MLCP in the upcoming weeks, then we have another language to enable first. Then we'll tackle Nepali. Please bear with us for a bit longer ....
thank you!
Aldo

[2019-09-02 08:31] ikushum commented on #76
Please make it happen. Eagerly waiting. :)

[2019-09-02 08:42] ankitshrestha commented on #76
I am eagerly waiting to contribute MLCP for Nepali Language. People of Nepal would greatly appreciate
 if its enabled.

[2019-09-03 03:30] Ramesh47 commented on #76
I am also interested to contribute to MLCP for Nepali Language.

[2019-09-03 10:27] janbaltus commented on #77
String location https://github.com/microsoft/vscode/blob/master/extensions/git/src/commands.ts

[2019-09-03 15:49] dbaeumer commented on #77
@janbaltus I ran the export script and can reproduce this. Actually all extensions are basically broken in this respect. I will look into this together with @joaomoreno. We changed something how extensions are compiled when they are web packed.

[2019-09-05 08:05] paulkiren commented on #62
We need Malayalam in the language section.

[2019-09-05 09:58] mayeenulislam commented on #63
Request from @blindfirefly16 is appreciated. :100:  I'm one of the GTEs of `bn_BD` in WordPress Translations. Please count me in too. Would love to contribute to VSCode as well.
Waiting for the MLCP platform update so that we can start fresh.

[2019-09-06 04:06] HemanthPaluri opened #79 "Add Telugu for Localization"
Hi Team,

Can you please add Telugu for Localization I would love to contribute.

Thanks

[2019-09-06 08:01] mrchar commented on #74
更新插件看到已经将“功能”替换为“函数”， 非常感谢！

[2019-09-06 08:01] #74 closed

[2019-09-08 10:47] yannicka commented on #36
Even if we can unsubscribe from the newsletter after registration, this is not GDPR-friendly. That should be fixed.

[2019-09-10 07:17] aldonetti commented on #36
sorry @SetTrend I had not seen your last question at the time - there usually isn't any communication about your translations, so no worries there. In any case there are new features upcoming in MLCp that will allow commenting of translations in the tool.

Thanks @yannica - I understand and I will open a request to review it (at least). I am sure it was reviewed by our legal department before bein

[2019-09-11 04:10] Chandu3245 commented on #59
Hi There,  @aldonetti and @satyamkondle, I am willing to contribute to include Telugu, plz let me know how can I help.

[2019-09-11 07:47] aldonetti commented on #59
thank you @masthandev and @Chandu3245 - I have added you both to the count. and we have 5 now, so we can enable it. it may take a bit of time as other engineering changes are being deployed and we have a couple of other languages to enable before Telugu but we will get there. Please bear with us for a bit longer.
And if you can any other to sign up in the meantime ... the more the better!
Thanks!

[2019-09-12 06:47] aldonetti commented on #59
thank you @mastercoder8 ! I've added you to the count. As soon as we enable contributions we will let you know here, so make sure to keep an eye on this thread 👍

[2019-09-15 01:31] Ayman97 opened #80 "Add Arabic for Localization"
Hi
I'd love to contribute in translating in Arabic language, Can you please add it for localization?

[2019-09-16 08:27] mausamshresthabv commented on #76
I would like to contribute as well. This would be a big milestone. Thanks VSCode team!

[2019-09-16 08:27] themausam commented on #76
I would like to contribute as well. This would be a big milestone. Thanks VSCode team!

[2019-09-16 08:43] aldonetti commented on #80
Hello @Ayman97 and thank you very much for your interest and support! Unfortunately, as explained in #69 and #67 , currently there are technical limitations with the handling of Bidirectional scripts in VSCode so we are not able to enable it at the moment 😒
Should anything change on that front, I will make sure to reply to all of these issues, so that you are aware.
Thanks, Aldo

[2019-09-16 08:43] #80 closed

[2019-09-16 12:52] Ayman97 commented on #80
OK, I'll be waiting :)

[2019-09-16 14:42] isakfi opened #81 "Add Macedonian for Localization"
Hello!

Please add the Macedonian language to the Localization Community platform.

Thank you.

[2019-09-16 18:41] aldonetti commented on #79
Thank you very much for your interest @HemanthPaluri - there is already a request for Telugu on #59 so I am closing this, but I have added your name into the count of volunteers on the VSCode page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project)
I will let you know when it's enabled
thank you!
Aldo

[2019-09-16 18:41] #79 closed

[2019-09-16 18:41] aldonetti commented on #78
no reply for 2 weeks - closing for now.

[2019-09-16 18:41] #78 closed

[2019-09-16 18:51] aldonetti commented on #81
Hello @isakfi  - thank you for your interest and willingness to help - I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
I'm closing this issue for now, until we get more requests from people willing to contribute, like you. There are about 85000 words to be translated in V

[2019-09-16 18:51] #81 closed

[2019-09-17 10:46] sushil79g commented on #76
Please make it happen.

[2019-09-17 11:38] tolibrozi commented on #78
You are very kind.
Thank!

[2019-09-17 12:49] tolibrozi opened #82 "Create new Language Pack for VS Code"
how can I create a new  language pack (Tajik language) for Visual Studio Code

[2019-09-17 14:54] harifutures commented on #59
Hi @aldonetti, willing to contribute for te-IN, let me know of any help!

[2019-09-18 04:54] noriokaki commented on #77
This probrem was fixed in Ver.1.38.4.
Thanks!

[2019-09-18 04:54] #77 closed

[2019-09-18 09:50] Shashidharankrish opened #83 "create a new language pack for Kannada language"
I want to create a new language pack for Kannada Language. or is there any team working on it?
I will be glad to work on it.

[2019-09-19 02:13] hongju opened #84 "Leaderboard issue"
The MVP Leaderboard is daily updated but the Community Leaderboard is not updated(Sep 4)

please revalidate score and daily data refresh.

[2019-09-19 06:16] aldonetti commented on #84
thank you @hongju - @shrijap could you please check? thanks!

[2019-09-19 20:56] shrijap commented on #84
@hongju thank you for bringing this to our attention. The report has been refreshed now.

[2019-09-19 20:56] #84 closed

[2019-09-20 13:43] code4ash commented on #63
I am also interested to contribute. Let's hope for the best.

[2019-09-22 16:08] TibebeJS opened #85 "Create a new Language pack"
Looks like there is no አማርኛ(amharic) language pack yet. I would like to help contribute in creating one. Thanks.

[2019-09-22 16:11] TibebeJS commented on #85
It is a language spoken in Ethiopia, Eritrea.

[2019-09-23 09:24] xnaval commented on #75
Count with me too.

[2019-09-26 03:55] satyaki1 commented on #63
I'm interested to contribute. Please help me to know, how to contribute. Thanks.

[2019-09-28 22:30] changeworld opened #86 "Microsoft Cloud + AI International Community Leaderboard issue report"
Hello, I'm Takashi Takebayashi.
I wanna know how the two persons (SONG WONSEOK and Takashi Takebayashi) to got their score too quick!
I (Takashi Takebayashi) sent nearly 10,000 pull requests to a Microsoft repository.
However, the calculation system calculates that I sent nearly 50,000 pull requests.
From the issue of #72, it seems to me that there is an error in the calculation logic.
Please chec

[2019-09-29 16:08] terrysheng commented on #86
Hi @changeworld , thanks so much for your feedback. We are looking at this issue now.

[2019-10-01 07:10] lorthirk commented on #43
Yesterday I wanted to suggest some little (really little, honestly: no game breakers, I swear!) improvements to the Italian localization. I'm a prefectionist, and I always love to contribute Italian localizations for various softwares. As I headed to MLCP I was surprised that there's no Search function. I only wanted to improve one string, and I'm supposed to skip through all the strings hoping to

[2019-10-01 13:06] aldonetti commented on #43
Hi @lorthirk - thank you for your comment. Unfortunately we know 😒
Our engineering team is having some challenges at the moment, but the Search feature should be there as soon as they are able to deploy. I'll update you by the end of this week - hopefully with some good news ...
thanks!
Aldo

[2019-10-01 14:14] aldonetti commented on #85
thank you @TibebeJS for you interest and willingness to support your community by enabling the Amharic language. As mentioned for other languages (eg. see #75) it is a big task to translate VSCode, as there are more than 85 thousand words. So even with 5/6 contributors it is going to be challenging.
I have recorded your request at the bottom of the VSCode project page [here](https://github.com/mic

[2019-10-01 14:14] #85 closed

[2019-10-01 17:34] aldonetti commented on #83
Thank you for your interest and willingness to help your local community @Shashidharankrish
I am going to add Kannada in the list of languages to expand VSCode into, on [this page](https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project) in the hope that we will get more contributors going forward.
As mentioned in other requests (e.g. #75 ) it's no small ef

[2019-10-01 17:34] #83 closed

[2019-10-01 21:05] shrijap commented on #86
Hi @changeworld. Thank you for reaching out to us.
The points on the leaderboard are calculated based on suggestions and not entire pull requests. For example, if you submitted a PR with 5 suggestions, and all 5 were approved, you would receive 375 points (15 points for each suggestion submitted, and 60 additional points for each suggestion that was approved). While you may have submitted 10,000 p

[2019-10-03 06:39] kranthilakum commented on #59
Hi @aldonetti, I am interested to contribute. Please add me to the count.

[2019-10-03 09:17] aldonetti commented on #82
Sorry for the belated reply @tolibrozi
Please mind that due to engineering issues, Bidirectional scripts are not supported, so only the Cyrillic script would be available for Tajik.
I have recorded your request at the bottom of the VSCode project page [here](https://github.com/microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project).
I'm closing this issue for now, until we g

[2019-10-03 09:17] #82 closed

[2019-10-03 09:24] #86 closed

[2019-10-03 11:05] tolibrozi commented on #82
I am very grateful for your support of my intention to translate VS Code into Tajik.I have some experience translating from English to Tajik (Notepad++ -2015, "Вожаномаи компютер -English-Russian-Tajik computer ditionary - 1995").
We will look for volunteers.
thanks,Tolib

[2019-10-06 12:10] davidxuang opened #87 "Chinese (Simplified) translation error/improvement for VSCode"
Product: Visual Studio Code 1.38.1 with Language Pack 1.38.4

![image](https://user-images.githubusercontent.com/24728204/66268848-181e4c80-e874-11e9-8dbb-1d2d732714c8.png)

- “Create new branch from” may be translated to “创建新的分支从” or “从 ref 创建新的分支”; the current translation “创建新的分支机构” seems to be translated from “Create new branch form/firm”, since “机构” means “organization”.

![image](https://user

[2019-10-07 11:23] svcabre commented on #75
Hi Aldonetti,

We already reached 5 people to start doing the Catalan translation of Visual Studio Code. Do you think it will be possible to open it and if you can share how we can proceed to start working on this?

Thank you,

Sergi,

[2019-10-08 08:00] aldonetti commented on #75
thank you Sergi @svcabre - to enable it, we first need some engineering changes to be deployed to the translation tool (MLCP) which are currently blocked. We are working to unblock those and then we will move forward enabling some languages. Those with the highest number of requestors first and see how they go. Currently the list is [this](https://github.com/microsoft/Localization/wiki/Visual-Stud

[2019-10-08 20:52] aldonetti commented on #75
Hi @svcabre absolutely! thanks!

[2019-10-10 19:01] ebbypeter commented on #62
I can contribute to the Malayalam localization of VSCode.

[2019-10-11 09:02] dreygur commented on #63
Any news? @aldonetti

[2019-10-12 18:31] gvsakhil commented on #59
Hi @aldonetti , I am interested to contribute, add me

[2019-10-14 07:39] Burarrum commented on #60
Hey guys, I can contribute as well.

[2019-10-16 07:51] lukaschal commented on #87
On review.

[2019-10-17 13:11] lukaschal commented on #87
Fixed as suggested.

[2019-10-21 23:56] IllusionMH commented on #40
Not sure why it is closed if still not implemented. And is there any progress in resolving this issue?

And I don't remember any warning about about inability to change language on registration page. Have I missed it?

This basically block user who would contribute to several languages and splits efforts by users who had to register other accounts for other languages.

Are there any technical limi

[2019-10-22 04:28] carstenhag commented on #40
Probably closed because it gets tracked privately and the software is not open-source? Not sure.

When I registered 5 months ago there was no warning. That's why I was confused and commented here.

It's probably more difficult than adding a drop down :P.

[2019-11-05 05:09] hemanthkk commented on #59
Hello @aldonetti , I am willing to contribute for Telugu language support, please add me also.

[2019-11-08 11:18] davidxuang commented on #87
![image](https://user-images.githubusercontent.com/24728204/68472821-58e6f800-025c-11ea-8f85-cf056fdef674.png)
Hmmm, it seems that there was some mistakes while fixing...

[2019-11-08 12:08] brano-p commented on #60
Hello, nice to see the number increasing. Please add me as a contributor, too!

[2019-11-08 13:55] lukaschal commented on #87
On review.

[2019-11-08 17:08] amarnit commented on #83
Hi @aldonetti, I'd like to contribute to this.
@Shashidharankrish - thanks for starting this thread!

[2019-11-09 15:17] echoix commented on #84
How come the leaderboard is still only refreshed on Sept 19, 10:40 AM (PST). Shouldn't the PowerBI visualization be configured to be updated daily?

[2019-11-09 17:22] aldonetti commented on #84
@shrijap

[2019-11-10 23:51] shrijap commented on #84
Hi @echoix
Thank you for bringing this up. It seems the automatic refresh had turned off somehow. It's refreshed and going to be on a daily refresh.

We truly value your feedback!

[2019-11-11 11:22] lukaschal commented on #87
Fixed.

SRC:	$(plus) Create new branch from...
new tgt: $(plus) 从特定位置创建新的分支...

[2019-11-11 18:51] echoix commented on #84
@shrijap Should it be updated and corrected now?

On a phone I can’t use the search bar to look for a specific person too. But it still shows that it was last updated in September.
![32E292B8-97FC-4843-B9CB-59EE8857194E](https://user-images.githubusercontent.com/27212526/68612344-523dc800-048a-11ea-9e56-743cb8fce242.png)

[2019-11-12 05:02] shrijap commented on #84
Hi @echoix. There may have been a delay in the website refresh. It should be showing as refreshed on November 11th now.

As of now, the visuals are fully compatible with the desktop version of the site only.

[2019-11-12 11:41] hongju commented on #84
Are the scores reliable?
Several people's score downed.

[2019-11-13 11:44] xaisng commented on #83
Count me on.. In for Kannada Translation.

[2019-11-15 05:51] NavruzbekNoraliev opened #89 "Adding a language to microsoft Localization."
![Screenshot_1](https://user-images.githubusercontent.com/44977644/68920062-f3cc5e80-0795-11ea-8886-b9c8899e6c9e.png)
Dear Microsoft team
I want to contribute to localization but I could not find my language there, I would be grateful if you add the Uzbek language as well.

[2019-11-15 08:37] festuc commented on #75
I can help to translate VS Code to Catalan :)

[2019-11-15 08:38] festuc commented on #75
I can help translate VS Code to Catalan :)

[2019-11-16 08:57] #87 closed

[2019-11-23 07:29] sibber11 commented on #63
We were expecting something from you @aldonetti @weeteckt

[2019-11-26 10:22] nidhinp commented on #62
I can contribute to Malayalam localization

[2019-11-26 12:13] movva30 commented on #59
I am willing to contribute for Telugu language support

[2019-11-26 12:20] prem30 commented on #59
I am willing to contribute for Telugu language support

[2019-11-27 07:47] pramodkrishnaV commented on #59
Hi, I would also request to include Telugu. I am willing to contribute to this effort. Thank you all.

[2019-11-29 04:29] anupjon commented on #62
I can contribute.

[2019-12-05 06:40] ebinxavier commented on #62
Please add Malayalam, I am ready to contribute.

[2019-12-09 18:12] shrijap commented on #84
@hongju apologies for the delayed response. The scores should be reliable, we might have had some data issues earlier which was allowing points to be given for MT contributions. Scores should be final.

[2019-12-15 11:26] rajibahmed commented on #63
Hello beautiful nice people of vscode community. I would like contribute to Bengali localization too. And if need I can contribute to some beginner stuff too :)

[2019-12-15 14:02] rafee commented on #63
I want to express interest in Bengali localization.

[2019-12-16 17:00] gjungb opened #90 "German translation error in VS Code"
The phrase `Open` currently gets translated to `Eröffnungskurs`, which basically means [opening price](https://www.linguee.de/englisch-deutsch/uebersetzung/opening+price.html).

My suggestion: replace with `Öffnen` [öffnen](https://www.linguee.de/deutsch-englisch/uebersetzung/%C3%B6ffnen.html).

![image](https://user-images.githubusercontent.com/3391068/70926236-0ce25c80-202d-11ea-8748-69654fc7714

[2019-12-17 09:14] lukaschal commented on #90
Fixed as suggested.

[2019-12-17 19:38] #90 closed

[2019-12-17 19:38] gjungb commented on #90
Thx

[2019-12-23 02:17] rkdhanyakula commented on #59
Hi, I would also request to include Telugu. I am willing to this.
TQ

[2019-12-24 06:28] santhushine commented on #83
I'm interested in for Kannada language pack..

[2020-01-08 10:19] OkazakiNagisa opened #91 "Chinese (Simplified) translation mistake"
VS Code 1.41.1
Chinese (Simplified) Language Pack for Visual Studio Code 1.41.2

Developer: Inspect Key Mappings (JSON)
开发者：检查密钥映射（JSON）

'Key' should be translated to “按键” or “键盘”, but not “密钥”, and now there's no way in MLCP website to report mistakes like this.

[2020-01-10 14:20] JayEn84 opened #92 "German translation errors in URL opening dialog"
Since I did not find the corresponding strings within MLCP, I am submitting this issue.

When I ctrl+click on a URL of an unconfigured domain within a code file, a popup is asking me what I want to do, e.g. opening the URL in my browser. The German translations are partially wrong.

![grafik](https://user-images.githubusercontent.com/4518738/72159457-ad256a00-33bc-11ea-8f24-af2063c3b17b.png)

Left

[2020-01-13 10:28] lukaschal commented on #91
Fixed.

new tgt: 检查按键映射（JSON）

[2020-01-13 10:37] #91 closed

[2020-01-13 10:46] lukaschal commented on #92
On review.

[2020-01-15 13:55] lukaschal commented on #92
This is a false positive: The contributor suggests replacing the confirmed term "Domänen" with "Domains", which is often used in the industry but is not MS terminology.

[2020-01-16 11:11] JayEn84 commented on #92
I understand, so please ignore my recommendation for the right button and correct the left one only.

[2020-01-17 21:37] mplaaguilera commented on #75
hi there, I would be fully comitted to help with the Catalan translation. Please add my request, thank you. btw, thanks too for building such an amazing IDE. :)

[2020-01-21 09:01] lukaschal commented on #92
Fixed.

src: Open
New tgt: Öffnen

[2020-01-21 10:31] #92 closed

[2020-02-11 08:02] bipin-lekhak commented on #76
Any updates on this?
Willing to contribute.

[2020-02-12 01:10] WinXS opened #93 "Chinese (Simplified) Language has a error"
![Snipaste_2020-02-12_09-08-40](https://user-images.githubusercontent.com/29294841/74293949-58885c80-4d77-11ea-990f-d0294bcf20c5.png)
Adress Bar：“面包屑”or“地址栏”？

[2020-02-13 14:30] lukaschal commented on #93
On review.

src: Show &&Breadcrumbs
tgt: 显示面包屑(&&B)

[2020-02-14 08:51] YaminiKumarBoyapati opened #94 "Willing to contribute for Telugu Language"
Hi There, @aldonetti, I am willing to contribute to include Telugu, let me know how can I help.

[2020-02-15 14:18] matarillo opened #95 "Update CONTRIBUTING.md in all localization repositories"
You should clarify [the current (temporary) policy](https://github.com/Microsoft/Localization/wiki/MTEngineUpdate);

## Repositories to be affected

- MicrosoftDocs/(repo name).(language)-(region)
  - eg. [MicrosoftDocs/azure-docs.zh-cn](https://github.com/MicrosoftDocs/azure-docs.zh-cn)
- dotnet/docs.(language)-(region)
  - eg. https://github.com/dotnet/docs.ja-jp
- and so on...

## Evidence of u

[2020-02-18 13:20] lukaschal commented on #93
Linguistic answer:

Current target is not proper. But 地址栏 is also not very accurate.

new tgt: 显示导航痕迹(&&B)

[2020-02-21 16:22] rokonxr commented on #63
Any Update ?

[2020-02-21 16:37] sibber11 commented on #63
@aldonetti @weeteckt Any news?

[2020-02-26 17:01] samundra commented on #76
I am also interested to contribute for localization of Nepali language in Visual studio code. Please enable it.

[2020-02-27 19:15] burguitoscat commented on #75
Hi! I can help translate VS Code to Catalan, my mother language!

[2020-03-10 15:46] mcwindy opened #96 "Chinese (Simplified) translation inconsistent names"
![image](https://user-images.githubusercontent.com/40684304/76330265-96ea4a80-6328-11ea-9c9e-64cebd54e11c.png)
"向左移动面板", “将面板移动到右侧” and "将面板移至底部"
Maybe it's better to rename them to "将面板移至左侧", "将面板移至右侧", and "将面板移至底部".

[2020-03-11 03:00] maxiaozhi opened #97 "Chinese (Simplified) translation explorer missing button"
version:vscode1.43
左侧资源管理器未打开项目和文件夹时缺少相关按钮
在简体中文时：缺少“打开文件夹”和“克隆存储库”按钮，切换为“英文”显示时则正常
繁体中文时，缺少“打开文件夹”按钮，但“复制存放仓库”按钮（对应简体中文的“克隆存储库”）可以显示，因此推断有可能是翻译不完整或者其他原因导致
![avatar](https://s2.ax1x.com/2020/03/11/8k8EAs.png)
![avatar](https://s2.ax1x.com/2020/03/11/8k8k7j.png)

[2020-03-11 08:44] lukaschal commented on #96
Move Panel Left
向左移动面板

Move Panel Right
将面板移动到右侧

Move Panel To Bottom
将面板移至底部

[2020-03-11 10:09] lukaschal commented on #97
"view.workbench.cloneRepository": "You can also clone a repository from a URL. To learn more about how to use git and source control in VS Code [read our docs](https://aka.ms/vscode-scm).\n[Clone Repository](command:git.clone)"
"view.workbench.cloneRepository": "还可从 URL 克隆存储库。要详细了解如何在 VS Code 中使用 Git 和源代码管理，[请阅读我们的文档](https://aka.ms/vscode-scm)。\n[克隆存储库](命令: git.clone)"

You have not yet opened a

[2020-03-11 13:55] EinsteinZheng commented on #97
I met the problem for about 3 days.
![截屏2020-03-11下午9 52 11](https://user-images.githubusercontent.com/17005509/76424193-df663e80-63e2-11ea-8845-63c67f22fb69.png)
![截屏2020-03-11下午9 51 25](https://user-images.githubusercontent.com/17005509/76424204-e2f9c580-63e2-11ea-9cb2-dd830be08f86.png)

[2020-03-12 10:22] gucong3000 commented on #96
Move Panel Left
将面板移至左侧

Move Panel Right
将面板移至右侧

Move Panel To Bottom
将面板移至底部

[2020-03-12 15:01] Andrew-Tuen commented on #97
I have the same problem.
the  "run and debug", "open folder" button disappeared when i use Chinese (Simplified)

[2020-03-12 18:46] janbaltus commented on #97
Fixed in 1.43.7 LP

[2020-03-13 04:44] maxiaozhi commented on #97
Thanks!

[2020-03-13 04:44] #97 closed

[2020-03-13 10:02] lukaschal commented on #96
Fixed as per below:

Move Panel Left - 将面板移至左侧
Move Panel Right -将面板移至右侧
Move Panel To Bottom - 将面板移至底部

[2020-03-16 07:50] lsbbd opened #98 "Chinese (Simplified) menu bar"
VS Code  1.43.0
Chinese (Simplified) Language Pack for Visual Studio Code 1.43.7

The macos menu bar "Run" menu item has extra parentheses

![image](https://user-images.githubusercontent.com/18237955/76733914-b22bde80-679c-11ea-8d85-98be57664647.png)

[2020-03-17 10:02] janbaltus commented on #98
@dbaeumer  can you please help us to find the rootacuse?
Windows version HK is presnt and work as expected.
![image](https://user-images.githubusercontent.com/18324209/76845201-c9230d00-683e-11ea-9a79-99fcb55ad369.png)

[2020-03-18 11:57] janbaltus commented on #98
Please test using 1.43.8 LP which was just published

[2020-03-18 13:41] dbaeumer commented on #98
How do the translations look like?

[2020-03-18 13:58] lsbbd commented on #98
After updating to 1.43.8, the language cannot be switched to the Chinese

[2020-03-18 14:02] EDSpower opened #99 "vscode设置中文无效，version 1.43.8有个致命bug！"
设置了英文再设置中文无效，降级再设置中文即可！

[2020-03-18 14:12] AcidShen opened #100 "1.43.8版本 安装后无法设置成中文"
更新了语言包后发现界面语言退回了默认的英文，切换回1.43.7版本后问题就消失了

[2020-03-18 14:42] zzh-blog commented on #100
是的，我在刚刚升级插件时也遇到了这样问题，1.43.8版本的翻译包似乎存在一些细微的错误，导致无法替换原生的英文界面

[2020-03-18 14:44] Renhongqiang commented on #99
1.43.8确实有bug

[2020-03-18 14:48] hecoco commented on #100
设置历史版本就可以了

[2020-03-18 19:18] janbaltus commented on #98
It was caused by BOM  in one file.
Please use 1.43.9

[2020-03-18 19:19] janbaltus commented on #100
Please update to 1.43.9. There was incorrect BOM for one file causing crash

[2020-03-18 19:38] janbaltus commented on #99
PLease update to 1.43.9 LP version

[2020-03-19 01:28] lsbbd commented on #100
@janbaltus 1.43.9 fixed，thank you

[2020-03-19 01:30] lsbbd commented on #98
@janbaltus 1.43.9 fixed, thank you

[2020-03-19 01:30] #98 closed

[2020-03-19 09:07] CallMeR commented on #99
version 1.43.1 也有中文设置失败问题啊！

[2020-03-19 09:07] CallMeR commented on #100
version 1.43.1 也有中文设置失败问题啊！

[2020-03-19 10:05] janbaltus commented on #100
please use 1.43.9

[2020-03-19 10:15] AcidShen commented on #100
更新1.43.9版本后问题解决了，十分感谢

[2020-03-19 10:15] #100 closed

[2020-03-20 17:36] FloEdelmann opened #101 "Inconsistent German translations in VS Code's Git panel"
found here:
![Screenshot_2020-03-20_18-32-13](https://user-images.githubusercontent.com/202916/77190367-68fbc780-6ad9-11ea-8bb0-6132dd2ff0d5.png)

"Commit *Staged* (Signed Off)" is (correctly) translated with "*Bereitgestelltes* committen (unterzeichnet)". "Staged changes" is also correctly translated with "Bereitgestellte Änderungen".

The other two ("Commit Staged" and "Commit Staged (Amend)") s

[2020-03-20 21:35] MNAJIM75 opened #102 "Arabic Localization"
**_Hello Microsoft._**
Could you please add Arabic to the Localization list?
I signed up to the localization website, and chooses the Arabic as a translating language, but there were nothing to translate.

# So Please add the Arabic Language!

[2020-03-22 09:07] #96 closed

[2020-03-22 16:46] ismaelkedir commented on #85
Me and many other friends and collegues are willing to contribute to our favourite editor. Please help us enable the Amharic language.

[2020-03-24 10:38] lukaschal commented on #101
On review.

SRC: Commit Staged (Signed Off)
TGT: Bereitgestelltes committen (unterzeichnet)

SRC: Commit Staged (Amend)
TGT: Gestaffelt committen (Ändern)

SRC: Commit Staged
TGT: Gestaffelt committen

[2020-03-24 21:08] MartinJesus23 opened #103 "Explorer dont show the buttons with spanish language"
## Hello, since update 1.43.
### The Spanish language pack breaks the explorer UI.
### Some images
![VScode bug](https://user-images.githubusercontent.com/26811053/77476521-0711c980-6e1b-11ea-9cfe-3261f24bdbf7.png)
![VSCode Bug Inspector](https://user-images.githubusercontent.com/26811053/77476623-2f99c380-6e1b-11ea-8eb2-8f0a254447d5.png)
**Setting language in English**
![Image](https://user-image

[2020-03-25 13:10] lukaschal commented on #103
SRC: You have not yet opened a folder. [Open Folder](command:{0})
TGT: Todavía no ha abierto una carpeta. [Abrir carpeta] (command:{0})

SRC: You can also clone a repository from a URL. To learn more about how to use git and source control in VS Code [read our docs](https://aka.ms/vscode-scm). [Clone Repository](command:git.clone)
TGT: También puede clonar un repositorio desde una dirección URL. P

[2020-03-25 14:37] lukaschal commented on #103
Fixed.

[2020-03-25 16:38] lukaschal commented on #101
Fixed.

SRC: Commit Staged (Signed Off)
TGT: Gestagetes committen (abgezeichnet)

SRC: Commit Staged (Amend)
TGT: Gestagetes committen (Ändern)

SRC: Commit Staged
TGT: Gestagetes committen

[2020-03-26 07:18] janbaltus commented on #103
Fix will be present starting LP 1.44.1

[2020-03-26 10:03] #103 closed

[2020-03-26 10:03] MartinJesus23 commented on #103
Thanks!

[2020-03-29 23:18] josephmachine commented on #62
Pls add malayalam. Interesting. I have just started using this and will be glad to be part of the team. will contribute as I can. All the best.

[2020-04-07 15:47] tchkreddy commented on #59
Hi @aldonetti, I'm willing to contribute for te-IN

[2020-04-09 07:15] corretge commented on #75
Hi @aldonetti , now that we are confined by COVID19 it's more easy to dedicate resources to the translations.

Could the team enable the Catalan translation? If you think that we are not enough requesters, we can start a campaign ;)

Lots of thanks.

[2020-04-09 07:24] mhmithu commented on #63
Interested to be a part of Bengali localization. Eagerly waiting.

[2020-04-09 13:38] raiyankamal commented on #63
Hello, I would like to contribute in BN localization.
As I understand, some back end development has to be completed first before we can start contributing. In the meantime, would it be possible to get hold of a string table or something of the sort? So that interested people can start accumulating translations in an unofficial repo?
@aldonetti @weeteckt can you please advise? Thanks a lot.

[2020-04-09 13:46] aldonetti commented on #63
thank you all for your interest! I'll let @shrijap comment/advise on this, as MS is currently replacing  the tool overall (front and backend)

[2020-04-09 18:18] svcabre commented on #75
Hi @aldonetti, I was reviewing the number of volunteers that want to collaborate with translating Visual Studio code and your counter Says 5 volunteers but in this thread I am counting 7:
@svcabre, @aseques, @fitojb, @corretge, @xnaval, @mplaaguilera, @burguitoscat.

![image](https://user-images.githubusercontent.com/14053222/78927317-931c2600-7a96-11ea-97b2-a2b93cd51cb5.png)

Also the locale shou

[2020-04-13 20:05] meataur commented on #63
I am interested too. Please count me in. Thanks.

[2020-04-14 08:39] helderdcarvalho commented on #75
Hi @aldonetti, I can help to translate Visual Studio Code to Catalan.

[2020-04-14 09:39] aldonetti commented on #75
Hi everyone, thanks a lot for your interest! As you can [read](https://github.com/Microsoft/Localization/wiki#-news--events) the platform is being replaced with a more robust and modern one, so all languages are in stand by for a bit. please let @shrijap know (or send email as per the news article) if you have any feedback/concern. thanks!!

[2020-04-26 07:48] FloEdelmann commented on #101
Thanks, the changes have landed in the stable version.

However, there are now other inconsistencies:

* "Staged changes" = "*Bereitgestellte* Änderungen" vs. "Commit staged" = "*Gestagetes* committen"
* "Commit all (signed)" = "Alle committen (*unterzeichnet*)" vs. "Commit staged (signed)" = "Gestagetes committen (*abgezeichnet*)"

I think those are not as important as the original issue, but sti

[2020-04-28 06:15] janbaltus commented on #102
@weeteckt

[2020-05-05 12:05] lukaschal commented on #101
On review.

[2020-05-06 20:30] shrijap commented on #102
Hi @MNAJIM75
Thank you for reaching out to us, and apologies for the delayed response! We are currently working on bringing you a new, more robust, localization platform and have decommissioned MLCP. As per this, we are placing new language requests on hold for the time being. Please keep an eye out on the Wiki for more updates on this.
Best,
Shrija

[2020-05-06 20:30] #102 closed

[2020-05-06 20:36] shrijap commented on #99
@janbaltus what is the status here?

[2020-05-06 20:38] shrijap commented on #95
Hi @matarillo

Thank you for reaching out to us and apologies for the delay in response.
Did you want a list of affected repos here?

[2020-05-06 20:40] shrijap commented on #94
Hi @YaminiKumarBoyapati

Thank you for reaching out to us and apologies for the delay in response!
We have decommissioned MLCP on April 8th, 2020 and are working on bringing you a new, more robust community localization platform. As per this, we are placing new language requests on hold for the time being. Please see the [Wiki](https://github.com/Microsoft/Localization/wiki) for more details, and

[2020-05-06 20:40] #94 closed

[2020-05-06 20:41] shrijap commented on #93
@lukaschal can we close this issue out?

[2020-05-06 20:42] shrijap commented on #89
Hi @NavruzbekNoraliev

Thank you for reaching out to us and apologies for the delay in response!
We have decommissioned MLCP on April 8th, 2020 and are working on bringing you a new, more robust community localization platform. As per this, we are placing new language requests on hold for the time being. Please see the [Wiki](https://github.com/Microsoft/Localization/wiki) for more details, and wa

[2020-05-06 20:42] #89 closed

[2020-05-07 09:55] janbaltus commented on #99
Do you have same issues with 1.44 version?
Latest LP for 1.43.11 also fixed this issue.

[2020-05-07 13:36] lukaschal commented on #101
Fixed.

Source Term
--
There are no staged changes to   commit.\n\nWould you like to automatically stage all your changes and commit   them directly?
STAGED CHANGES
Staged Changes
Commit Staged (Signed Off)
Always show the Staged Changes resource   group.
Commit all changes when there are no   staged changes.

Translation
--
Es sind keine gestageten Änderungen zum   Committen vorhanden.\r\n\r\nMöc

[2020-05-07 13:37] lukaschal commented on #93
@shrijap Yes.

[2020-05-08 18:00] shrijap commented on #43
Hi all,

I would like to close the loop on this issue - as you may have seen, we have decommissioned MLCP on April 8th, 2020 and are working on a new, more robust community localization platform for you! Please watch the Wiki for more updates on the same, and as always, we greatly appreciate your feedback and valuable contributions - and hope we will continue to see your active participation on th

[2020-05-08 18:00] #43 closed

[2020-05-08 18:00] #52 closed

[2020-05-08 18:02] #71 closed

[2020-05-08 18:03] #93 closed

[2020-05-11 10:09] FloEdelmann commented on #101
In the April Update (v1.45.0), all the translations have been fixed. Thank you!

[2020-05-11 10:09] #101 closed

[2020-05-22 11:54] OkazakiNagisa opened #104 "VSCode Chinese (Simplified) non-standard marks"
exists both full-width and half-width brackets, colons, etc

![图片](https://user-images.githubusercontent.com/7100178/82664669-c7bdf880-9c64-11ea-8475-9fee541585a0.png)
![图片](https://user-images.githubusercontent.com/7100178/82664695-d4425100-9c64-11ea-83d5-452867f3242d.png)

[2020-05-23 18:26] glezos commented on #43
For what it's worth, our team at Transifex would be thrilled to offer our platform to the project, and we're open to suggestions of things that could be improved. We'd love to be able to contribute in some way.

Dimitris
Founder, Transifex

[2020-05-26 12:35] lukaschal commented on #104
On review.

[2020-05-27 09:03] lukaschal commented on #104
Fixed. Single-Byte characters used consistently now.

[2020-05-28 07:26] OkazakiNagisa commented on #104
Thanks

[2020-05-28 07:26] #104 closed

[2020-06-03 04:48] liuxilu opened #105 "questions: machine translation"
The wiki says

- What MT engine do you use, not just connecting to Bing translate, but have one just for doc translation, right?
- How long is long, forever or for some time?
  - I have heard neural engine can either machine learing or manually input, is it?
  - If so, how do I do?
- Unable via PR, then any other way?
- Can't edit MT, then is it possible to change MT docs to HT?
  - Obviously, mor

[2020-06-05 12:08] janbaltus commented on #105
@liuxilu  please clarify which project do you mean?
Please shere link to Wiki page

[2020-06-05 14:21] liuxilu commented on #105
For my case, it's [dotnet/docs.zh-cn](https://github.com/dotnet/docs.zh-cn), and the [wiki page](https://github.com/microsoft/Localization/wiki/MTEngineUpdate) applies for all localization projects, I think.

[2020-06-08 07:39] janbaltus commented on #105
@dbaeumer and @weeteckt can you please answer this general question?

[2020-06-08 18:52] shrijap commented on #105
Hi @liuxilu

Thank you for reaching out to us with these questions. Please find answers to your questions below:

• What MT engine do you use, not just connecting to Bing translate, but have one just for doc translation, right?
**We have an instance of the MSR translation engine trained specifically with human translated content for our products, to ensure best possible machine translation quality

[2020-06-08 19:01] shrijap commented on #105
Hi @liuxilu

Thank you for reaching out to us with these questions. Please find answers to your questions below:

• What MT engine do you use, not just connecting to Bing translate, but have one just for doc translation, right?
**We have an instance of the MSR translation engine trained specifically with human translated content for our products, to ensure best possible machine translation quality

[2020-06-09 18:08] #105 closed

[2020-06-10 09:04] liuxilu commented on #105
Sorry for my late response.

"our products", does it mean All microsoft products?

I know. I'm not thinking of cancel all MT but a certain page someone like me would like to translate and improve. For example if I see a MT page is not such perfect, then I request a MT to HT and you do that or there's a switch, then I can and will do improve the translation, just cost me. And this can improve MT as

[2020-06-15 17:40] #99 closed

[2020-06-15 17:41] #95 closed

[2020-08-18 03:28] liuxilu commented on #105
@dbaeumer @weeteckt

[2020-08-28 13:28] borysl commented on #44
@romanfedyshyn @aldonetti @DmytroStepaniuk I once worked on the localization here https://github.com/microsoft/vscode-loc/tree/master/i18n/vscode-language-pack-uk

Do I have any option to compile it just for myself? I have kids that speak only Ukrainian, so I would like to do it myself

[2020-09-02 12:01] dbaeumer commented on #105
May be @danyeh can help. I have no idea how the translation process works. I only know how VS Code consumes the translations.

[2020-09-18 08:52] LYJ420 opened #114 "Is there an offline installation file?"
offline installation file required.please.thanks！

[2020-09-26 03:21] imba-tjd opened #115 "Why points are decreased on the Community Leaderboard"
https://microsoftl10n.github.io/

As you can see, there are a huge points decreasing compared to "The Leaderboard explained"

[2020-11-02 10:40] sibber11 commented on #63
is this thread is abandoned?

[2020-11-02 11:23] tariqulislam16 commented on #63
**@sibber11** Let's hope it's not the case. As **@aldonetti** said, they have been through major changes. I hope MS Team won't ignore the presence of such a big community.

[2020-11-02 19:06] aldonetti commented on #63
hello @sibber11 and @tariqulislam16 - I will let @ericvt comment or delegate to someone appropriate. thanks!